[2018-06-07 21:32] #403 closed

[2018-06-07 21:32] #381 closed

[2018-06-07 21:32] #348 closed

[2018-06-07 21:32] #329 closed

[2018-06-07 21:32] #286 closed

[2018-06-07 21:32] #266 closed

[2018-06-07 21:32] #206 closed

[2018-06-07 21:32] #91 closed

[2018-06-07 21:32] #61 closed

[2018-06-08 02:17] #471 closed

[2018-06-08 02:17] #634 closed

[2018-06-08 02:17] #644 closed

[2018-06-08 02:17] #647 closed

[2018-06-08 02:17] #660 closed

[2018-06-08 02:17] #665 closed

[2018-06-08 02:17] #673 closed

[2018-06-08 02:17] #685 closed

[2018-06-08 02:17] #694 closed, assigned to JustinBeckwith

[2018-06-08 02:17] #705 closed, assigned to JustinBeckwith

[2018-06-08 02:17] #742 closed, assigned to JustinBeckwith

[2018-06-08 02:17] #775 closed

[2018-06-08 02:17] #785 closed

[2018-06-08 02:17] #786 closed

[2018-06-08 02:17] #790 closed

[2018-06-08 02:17] #791 closed

[2018-06-08 02:17] #792 closed

[2018-06-08 02:17] #793 closed

[2018-06-08 02:18] #795 closed

[2018-06-08 02:18] #798 closed

[2018-06-08 02:18] #821 closed

[2018-06-08 02:18] #842 closed

[2018-06-08 02:18] #853 closed

[2018-06-08 02:18] #884 closed

[2018-06-08 02:18] #916 closed

[2018-06-08 02:21] #54 closed

[2018-06-08 02:21] #789 closed

[2018-06-08 02:21] #787 closed

[2018-06-08 02:21] #757 closed

[2018-06-08 02:21] #604 closed

[2018-06-08 02:22] #839 closed

[2018-06-08 02:22] #838 closed

[2018-06-08 02:22] #836 closed

[2018-06-08 02:22] #835 closed

[2018-06-08 02:22] #834 closed

[2018-06-08 02:22] #832 closed

[2018-06-08 02:22] #831 closed

[2018-06-08 02:22] #816 closed

[2018-06-08 02:22] #815 closed, assigned to JustinBeckwith

[2018-06-08 02:22] #783 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #751 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #662 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #632 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #627 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #607 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #601 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #507 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #483 closed, assigned to JustinBeckwith

[2018-06-08 02:23] #472 closed, assigned to JustinBeckwith

[2018-06-08 02:24] #850 closed, assigned to JustinBeckwith

[2018-06-08 02:24] #848 closed, assigned to JustinBeckwith

[2018-06-08 02:24] #847 closed, assigned to JustinBeckwith

[2018-06-08 02:25] #845 closed, assigned to JustinBeckwith

[2018-06-08 02:25] #843 closed, assigned to JustinBeckwith

[2018-06-08 02:25] #841 closed, assigned to JustinBeckwith

[2018-06-08 02:25] #840 closed, assigned to JustinBeckwith

[2018-06-19 18:37] nahuellofeudo commented on #1114
@mattwhisenhunt: the problem with the approach you suggest is that this client code isn't being called by custom code but from other GCP client libraries, so even creating a line-by-line copy of the class that does what you suggest it would be impossible to call the new code.

[2018-06-22 15:10] dacilsk opened #1116 "Google contacts doesn´t work with setStartIndex"
When i put setStartIndex() in the Query, it doesn´t works always it begin with the first result.
Here is the code.

    `ContactsService myService = new ContactsService("Project_Name");

	URL feedUrl = new URL("https://www.google.com/m8/feeds/contacts/default/full?v=3.0");

	Credential credential = GoogleContactsAPI.getInstance().getCredential(item);
	myService.setOAuth2Credentials(credential);

[2018-06-27 17:31] yonilerner opened #1117 "Oauth2.tokeninfo IllegalArgumentException: key error"
When attempting to call `Oauth2.tokeninfo()` with an access token from a service key, an exception is _sometimes_ thrown, with no clear pattern.

Code:
[code]
Much of the time, `execute` returns properly and `tokenInfo` contains the requested data. Sometimes, however, the following exception is thrown (internal package names have been replaced with `foo.bar`):
[code]
Note that while this stack tra

[2018-06-28 08:03] sixteenhai commented on #1117
We encounter the same issue too, and it impact all our products. Hoping Google can fix it or give some suggestions for it, thanks a lot.

[2018-06-28 12:47] prashantharshi opened #1118 "Initialise the client with access token"
Hi

We need to call drive api for file download and upload and hence we wanted to use this java sdk. But it seems that it expects a client_secret.json file to initialise the client prior to calling any api and while doing so it launches the browser asking for user's consent.

Our use case is we have already authenticated the user by our CDN/frontend using gapi client side library (for javascript)

[2018-06-29 01:20] goxr3plus commented on #1118
Exactly what i am searching for :)

[2018-06-29 01:33] goxr3plus opened #1119 "Get access token after client authorization"
**1)I need to get the Authentication URL
2)I will authenticate with JavaFX Browser , so my question is :
         -> is the access token shown on the html code?**

How to figure the method ```authorize``` of [DriveSample](https://github.com/google/google-api-java-client-samples/blob/master/drive-cmdline-sample/src/main/java/com/google/api/services/samples/drive/cmdline/DriveSample.java) to return

[2018-06-29 01:48] goxr3plus commented on #1119
It says Please open the following address in your browser: , well i want to open it on my own browser i have created . How i can get it ?

[2018-06-29 06:36] NicolaSpreafico commented on #1118
I'm not sure which is the question here, but I will go ahead on what I understood.

Are you looking for this kind of credential initialization in order to provides directly an Access-Token?
[code]

[2018-06-29 11:07] prashantharshi commented on #1118
Thanks Nicola

Yes i was looking for the same thing , i wanted to initialise the drive object using acess_token directly  instead of going through oauth2.0 flow. i tried you snippet , it worked ! thanks. you may close this issue now

`public class DriveApiManager {

  private static HttpTransport httpTransport;
  private staticfinal JsonFactory JSON_FACTORY = JacksonFactory.getDefaultInstance();

[2018-06-29 11:14] NicolaSpreafico commented on #1118
For security reasons, please remove tour access-token.

[2018-06-29 11:50] prashantharshi commented on #1118
That is fine , we will be sending valid access token from our cdn to service

[2018-07-02 20:58] #1118 closed

[2018-07-02 20:59] chingor13 commented on #1118
Thanks for answering the question @NicolaSpreafico!

[2018-07-02 21:08] chingor13 commented on #1117
Note that this was happening intermittently because the API change was being slowly rolled out. It is currently rolled back until we can fix this issue.

[2018-07-03 01:55] Artuto opened #1121 "getPlaylistId() is null"
What the title says, I'm doing this

[code]

And it ends on `youtube.com/playlist?list=null`

[2018-07-06 19:16] Artuto commented on #1121
Will this be fixed soon?

[2018-07-24 19:17] leonardoviragine opened #1134 "Google Play error 500 on execute - Replying a Review"
I'm getting the following error on execute():

{
    "error": {
        "code": 500,
        "message": null
    }
}

I'm trying to post a reply in a specific review.. very simple code..credentials are ok (I can get the reviews)

Any advice?

[2018-07-26 16:32] aaronmefford opened #1138 "package com.google.api.client.json.gson does not exist"
Seems the maven dependencies are not quite complete.   After adding the following to my pom.xml file

        <dependency>
          <groupId>com.google.apis</groupId>
          <artifactId>google-api-services-analyticsreporting</artifactId>
          <version>v4-rev124-1.23.0</version>
        </dependency>

When trying to build the HelloAnalyticsReporting sample, I get the following error:

pack

[2018-07-31 15:33] netp-dany opened #1139 "Directory API - members get 400"
The following request in java

`directory.members().get(group, email).execute();`

will sometimes get response 400 Invalid Input.
Both group and email belong to the same domain.

I was able to reproduce this with API explorer on this page
https://developers.google.com/admin-sdk/directory/v1/reference/members/get

This is not constant issue, sometimes it will not occur at all and 200 response would

[2018-07-31 17:01] chingor13 commented on #1134
@leonardoviragine Can you post a small snippet to help us try an reproduce this?

[2018-07-31 17:14] chingor13 commented on #1138
@aaronmefford The service clients all use [google-http-java-client](https://github.com/google/google-http-java-client) for the underlying HTTP calls. That library has adapters for multiple JSON encoder/decoder plugins (gson, Jackson) and so they are not declared as dependencies. If you're trying to use the gson JSON adapter you will want to add the [gson adapter](https://mvnrepository.com/artifact

[2018-07-31 17:38] chingor13 commented on #1121
@Artuto Which API endpoint are you trying to use? Are you able to able to reproduce the query that has a null `playlistId` field? What class is `rId`?

[2018-07-31 17:44] leonardoviragine commented on #1134
Hi. A simple POST, as [ docs says](https://developers.google.com/android-publisher/api-ref/reviews/reply) will return the error:
 (all parameters are sensitive data)

{
    "error": {
        "code": 500,
        "message": null
    }
}

and if I change or ommit any parameter I get a different error code (so I believe there's nothing wrong with my  original call)

I saw [this error ](https://stack

[2018-08-02 01:15] jadekler commented on #903
1.24.1 has been released and includes this fix. `guava-jdk5` is gone, woo!

[2018-08-03 16:56] chingor13 commented on #1139
@netp-dany Thanks for letting us know

[2018-08-03 16:56] #1139 closed

[2018-08-03 18:39] #1084 closed

[2018-08-03 18:45] chingor13 commented on #1003
This should no longer be an issue. The default metadata server uses the IP address directly to avoid DNS issues.

[2018-08-03 18:45] #1003 closed

[2018-08-03 19:29] jadekler commented on #1084
Just as a heads up, this is now released as part of 1.24.1.

[2018-08-03 19:29] jadekler commented on #1084
This will go into 1.25.0.

[2018-08-03 19:50] chingor13 commented on #1117
This will be included in the 1.25 release.

[2018-08-03 20:12] leonardoviragine commented on #1134
Just updating....

today I run my tests again an no error 500..I guess it's ok now

[2018-08-03 20:12] #1134 closed

[2018-08-07 15:28] aaronmefford commented on #1138
I was just trying to build the example code, and it does not build as is.  Thought you might want to know, fix it if you will.  If it were my repo I wouldn't want sample code to not run out of the gate.

[2018-08-07 16:59] chingor13 commented on #1138
Thanks for clarifying. I assume you're referring to [the Maven section here](https://developers.google.com/api-client-library/java/apis/analyticsreporting/v4) linked from [this sample](https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/installed-java#2_install_the_client_library)?

[2018-08-07 17:47] chingor13 opened #1144 "Use new urls for authentication"
_From @chingor13 on August 7, 2018 17:9_

[Parent issue](https://github.com/GoogleCloudPlatform/google-cloud-common/issues/260)

The following specific library changes are required:

### OAuth 2.0 Authorization Grant Flow (aka 3LO)

For clients using this flow, change (and test):
- https://accounts.google.com/o/oauth2/token -> https://oauth2.googleapis.com/token
- https://accounts.google.com/o/oau

[2018-08-07 22:43] aaronmefford commented on #1138
Yes.  Sorta.

I actually ended up on the V3 version which also has other errors in the code.

https://developers.google.com/analytics/devguides/reporting/core/v3/quickstart/service-java

It references an AnalyticsReporting type that does not exist, at least in that version, the correct type was Analytics with some trial and error.  I couldn't find anywhere that seemed appropriate to report it.

Bu

[2018-08-13 13:30] Artuto commented on #1121
https://github.com/EndlessBot/Endless/blob/master/src/main/java/me/artuto/endless/commands/utils/YouTubeCmd.java#L70-L93

[2018-08-13 19:12] chingor13 commented on #1121
@Artuto You're excluding the `id/playlistId` field when asking for data to be returned [here](https://github.com/EndlessBot/Endless/blob/cf5c61f03d794131a67fbe0be8da68b3cb5ac4e2/src/main/java/me/artuto/endless/commands/utils/YouTubeCmd.java#L74).

[2018-08-13 19:12] #1121 closed

[2018-08-13 19:55] chingor13 commented on #1119
In the next version of google-oauth-java-client (1.25.x), we are adding a `AuthorizedCodeInstalledApp.Browser` interface that you can use to write your own implementation. The default implementation will continue to open the default browser. See https://github.com/google/google-oauth-java-client/pull/182/files

[2018-08-13 19:55] #1119 closed

[2018-08-24 17:41] chingor13 commented on #1144
Released in 1.25.0

[2018-08-24 17:41] #1144 closed

[2018-08-24 17:42] chingor13 commented on #1117
1.25.0 is released!

[2018-08-24 17:42] #1117 closed

[2018-08-25 23:53] alvazai commented on #1101
I have exactly the same problem. I started palying with Google Drive JAVA API and everything is quite satisfactory so far with the exception of this problem. I understand that the same goal (partial file download) can be achieved by using lower level HTTP requests but I am unfamiliar with HTTP.

Here is my code:

public byte[] downloadPartial(String googleID, long start, long size) throws GoogleDr

[2018-08-26 00:02] alvazai commented on #1101
So basically I am asking for help. Can anybody suggest few lines of Java code to set the Content Range in some other way, before I take great pains to understand HTTP

[2018-08-29 19:24] Kadanza opened #1150 "cannot access class android.support.v4.app.FragmentActivity when i migrate to androidx"
I have error  "cannot access class android.support.v4.app.FragmentActivity "    in

 GoogleApiClient.Builder(this)
                .enableAutoManage(this, this)
                .addApi(Auth.GOOGLE_SIGN_IN_API, gso)
                .build()

I migarete to androidx and  use library
implementation('com.google.api-client:google-api-client-android:1.24.1')

I think
GoogleApiClient require android.suppo

[2018-08-30 22:43] hiranya911 opened #1151 "Possible Regression in MockTokenServerTransport"
Following test case used to work in `google-api-client` 1.23.0, but breaks in 1.25.0:

[code]

In the latest version I must pass in the URL `"https://accounts.google.com/o/oauth2/token"` to the `MockTokenServerTransport`. Is this intentional or a regression?

[2018-08-31 21:26] chingor13 commented on #1021
google-oauth-java-client 1.25.0 added a `AuthorizationCodeInstalledApp.Browser` interface to let you customize the browse behavior. If this is insufficient, please open an issue in that [repository](https://github.com/google/google-oauth-java-client/issues).

[2018-08-31 21:26] #1021 closed

[2018-08-31 21:28] chingor13 opened #1152 "Make master the primary branch"
Currently the primary branch is "dev", but it should be "master".

[2018-09-06 22:01] elharo opened #1154 "google-api-client-jackson2 needs OSGI bundle metadata"
[code]

[2018-09-12 02:33] IvanRF commented on #996
@mattwhisenhunt @JustinBeckwith this issue was fixed so I'm closing it, thanks!

It was fixed on v1.24.1: https://github.com/googleapis/google-http-java-client/releases/tag/1.24.1
Commit: https://github.com/googleapis/google-http-java-client/commit/cf75a23a03e79f3cbb66820a925b25cead54cadf#diff-2c10b536f991bff4438377fd5f9d5d1d

[2018-09-12 02:33] #996 closed

[2018-09-12 07:29] bobnewmark opened #1156 "Cannot avoid listing files inside archive files"
Hello,

when getting all files from Google Drive, you automatically get all files contained in zip or 7z archives.
It may be correct behaviour from one side, but it's unavoidable behavior from the other side. Besides it's very inconvenient in most cases.
Of course you may filter them out later, but it's not optimal.
May be there's a way not to list files from inside the archives?

Thanks.

[2018-09-12 18:13] elharo opened #1157 "All Travis builds broken"
E.g. https://travis-ci.org/google/google-api-java-client/builds/313702848?utm_source=github_status&utm_medium=notification

I see "We couldn't find the repository google/google-api-java-client"

[2018-09-12 18:16] chingor13 commented on #1157
This repository was migrated to the googleapis org so we will need to fix the config.

Instead, we can just stop building on Travis as we added Kokoro for CI builds that test both Java versions.

[2018-09-12 18:34] elharo commented on #1156
This doesn't seem in any way related to this product.

[2018-09-12 23:32] chingor13 commented on #1007
Fixed in #1079

[2018-09-12 23:32] #1007 closed

[2018-09-12 23:36] chingor13 commented on #930
Retries are already available and can be configured by your request factory.

[2018-09-12 23:36] #930 closed

[2018-09-13 05:56] bobnewmark commented on #1156
My bad, you're right

[2018-09-13 05:56] #1156 closed

[2018-09-13 06:28] chingor13 commented on #1037
We just accepted #1079 which adds the `createDelegated` method. It will be released in 1.26.0.

[2018-09-13 06:29] #1100 closed

[2018-09-13 06:32] chingor13 commented on #857
Added in #1011

[2018-09-13 06:32] #857 closed

[2018-09-13 06:32] #1037 closed

[2018-09-14 06:58] kbboss opened #1159 "how to resuming an interrupted upload by api"
I use it to resumed upload file . but When  Wife disconnect ,the file need restart to be uploaded from 0;

[code]

[2018-09-18 10:02] #1150 closed

[2018-09-18 10:42] elharo opened #1161 "Remove ClientLogin"
specifically src/main/java/com/google/api/client/googleapis/auth/clientlogin/

This hasn't worked on the server for 3 years, and it all seems to be marked `@Beta.`

[2018-09-18 10:47] elharo opened #1162 "Checkstyle warnings"
[INFO] --- maven-checkstyle-plugin:2.6:check (default) @ google-api-client ---
[INFO] Starting audit...
/Users/elharo/google-api-java-client/google-api-client/src/main/java/com/google/api/client/googleapis/auth/oauth2/GoogleCredential.java:491: warning: First sentence should end with a period.
/Users/elharo/google-api-java-client/google-api-client/src/main/java/com/google/api/client/googleapis/aut

[2018-09-18 17:56] elharo opened #1165 "google-api-services-oauth2 needs OSGI metadata"
[code]

They're probably a few others that needs this too.

[2018-09-18 20:20] elharo commented on #1165
My mistake. Looks like that artifact doesn't come from this repo, though I cant seem to find the one it does come from.

[2018-09-18 20:20] #1165 closed

[2018-09-19 14:48] elharo opened #1167 "Remove or replace DataNucleus"
DataNucleus doesn't work very well on App Engine these days and the official recommendation is to replace it: https://cloud.google.com/appengine/docs/standard/java/datastore/jdo/overview-dn2

I'm not sure how deeply DataNucleus is woven into this project, but if it's not too tight we should get rid of it.

[2018-09-19 14:52] elharo opened #1168 "Bad Copyright Notices"
Some files have a copyright notice like this:

Copyright (c) 2013 Google Inc.

This is incorrect under the law. (c) is meaningless. The word Copyright is sufficient. New files should have

Copyright 2018 Google LLC.

though we don't have to change Inc. to LLC where it's otherwise fine.

[2018-09-19 17:32] #1162 closed

[2018-09-19 17:55] chingor13 commented on #1152
Done! The old `master` branch is available as `old-master` in case it's needed again.

[2018-09-19 17:55] #1152 closed

[2018-09-20 07:51] eyanpen opened #1172 "google-api-client can't fallback from ipv6 to ipv4"
Our env doesn't support IPV6.

When performing DNS query (accounts.google.com, fcm.googleapis.com) to resolve IP-address for FCM server,  google-api-client sends both A and AAAA queries to google DNS server.   The DNS server  provides both IPv4 and IPv6 IP-addresses, google-api-client chooses IPv6 to access FCM by the java configuration:  -Djava.net.preferIPv6Addresses=true .

Because our network

[2018-09-20 10:31] elharo opened #1173 "uses prerequisites which is only intended for maven-plugin projects"
Need to check but I think this maven warning is straightforward to clean up:

[WARNING] The project com.google.api-client:google-api-client-parent:pom:1.26.0-SNAPSHOT uses prerequisites which is only intended for maven-plugin projects but not for non maven-plugin projects. For such purposes you should use the maven-enforcer-plugin. See https://maven.apache.org/enforcer/enforcer-rules/requireMavenV

[2018-09-20 17:43] #1168 closed

[2018-09-21 11:11] elharo commented on #1167
Looks like we can just take it out:

DataNucleus Enhancer completed with success for 0 classes. Timings : input=94 ms, enhance=0 ms, total=94 ms. Consult the log for full details
DataNucleus Enhancer completed and no classes were enhanced. Consult the log for full details

[ERROR] --------------------
[ERROR]  Standard error from the DataNucleus tool + org.datanucleus.enhancer.DataNucleusEnhancer

[2018-09-21 11:12] elharo commented on #1167
And

[ERROR] --------------------
[ERROR]  Standard error from the DataNucleus tool + org.datanucleus.enhancer.DataNucleusEnhancer :
[ERROR] --------------------
[ERROR] Sep 21, 2018 7:10:47 AM org.datanucleus.enhancer.DataNucleusEnhancer <init>
INFO: DataNucleus Enhancer : Using ClassEnhancer "ASM" for API "JDO"
Sep 21, 2018 7:10:47 AM org.datanucleus.enhancer.DataNucleusEnhancer main
INFO: DataN

[2018-09-21 15:29] elharo opened #1176 "Update appengine SDK"
1.7.7 --> 1.9.64

[2018-09-21 15:29] elharo opened #1177 "Maven prerequisities"
2.0.9 --> 3.5.4

I'm not at all sure this still works with Maven 2.

[2018-09-21 17:00] chingor13 commented on #1172
If your environment doesn't support IPv6, then why set `-Djava.net.preferIPv6Addresses=true`? The DNS resolution is handled by the transport layer (which in your case appears to be the `java.net` adapter).

[2018-09-21 17:29] #1176 closed

[2018-09-21 17:38] chingor13 commented on #1114
@nahuellofeudo Sorry for the delay in getting to this. Is there a particular client you're having an issue with?

`com.google.api.client.googleapis.javanet.GoogleNetHttpTransport` is an helper to create a `HttpTransport` instance and is not a dependency used in either `com.google.cloud` or `com.google.apis`.

Example for BigQuery (from com.google.cloud):
[code]

[2018-09-21 17:41] elharo opened #1180 "App Engine uses Java 7 and above"
[code]

[2018-09-21 17:44] elharo opened #1181 "Could not transfer metadata asm:asm/maven-metadata.xml from/to local.repository"
Not sure how much this warning matters but worth looking at:

[code]

[2018-09-21 17:45] #1177 closed

[2018-09-21 18:20] yonilerner commented on #1117
@chingor13 Im not sure this is actually fixed. I've upgraded to https://mvnrepository.com/artifact/com.google.apis/google-api-services-oauth2/v2-rev141-1.25.0 and now I'm getting a different, but similar, error:

[code]
Its pretty much the same thing; it randomly throws this error, but retrying once or twice always ends up working.

[2018-09-22 09:42] elharo opened #1187 "Fix all links to code.google.com"
[code]

[2018-09-24 17:11] #1180 closed

[2018-09-27 09:24] markusheiden opened #1189 "Filename is blank when importing cost data .csv file via Analytics Management API"
#### Environment details

- Java version: 1.8
- google-api-java-client version: 1.23.0

#### Steps to reproduce

Uploading data to Analytics via their Java-API:
[code]

The reason this doesn't work is IMO, that the FileContent#getFile is never used to extract the name of the "csvFile". Even better would be to pass the file name explicitly to any AbstractInputStreamContent.

#### Any additional inf

[2018-10-05 21:28] nahuellofeudo commented on #1114
This bug was originally found when running Dataflow jobs. Dataflow uses the GCS client libraries to stage files, and these operations failed because of this bug.

[2018-10-08 04:26] bootstraponline opened #1191 "module-info.java"
Are there plans for supporting Java modules now that JDK 11 is out?

[Automatic module](https://stackoverflow.com/questions/46713289/how-to-use-3rd-party-library-in-java9-module) doesn't seem to work for this artifact.

[2018-10-25 10:13] cyxcw1 opened #1208 "Try to load Credential but got null"
#### Environment details

- OS: Android 7.0
- Java version: 1.7
- google-api-java-client version: 1.18

#### Steps to reproduce

This is my code, I tried to get this `Credential`, but I got `null`.
[code]
The code is very old, it worked before and my Youtube Client id is OK.

Thank you very much.

[2018-10-26 03:09] cyxcw1 commented on #1208
Can some one here help me? Thanks very much.

[2018-10-29 21:01] chingor13 opened #1209 "Possible NPE calculating X-Goog-Api-Client header"
#### Environment details

- OS: none (GAE standard 7)
- Java version: 7
- google-api-java-client version: 1.26.0

#### Steps to reproduce

1. GAE Standard Java 7 (deprecated) may not set the os.version System property and could cause a NPE.

#### External references such as API reference guides used

https://github.com/googleapis/google-api-java-client/blob/120758526c62d099ed8babe4ddae3c12811582f3

[2018-10-30 18:43] #1167 closed

[2018-11-01 18:41] booi commented on #949
`GoogleCredential.createScoped(...)` worked for me to add scopes to a service account JSON. In many of our cases, we do not want a manual OAuth flow for wholly owned resources.

[2018-11-02 20:41] #1209 closed

[2018-11-02 21:14] garrettjonesgoogle opened #1212 "Create a BOM for google-api-java-client"
Create a BOM for this library, same as the request for google-http-java-client at https://github.com/googleapis/google-http-java-client/issues/516 .

cc @elharo

[2018-11-07 03:03] #1212 closed

[2018-11-14 07:21] remmeier opened #1216 "runningOnComputeEngine throws error"
#### Environment details

- OS: Windows
- Java version: Java 8
- google-api-java-client version: 1.23.0

#### Stacktrace

[code]

#### Any additional information below

I'm using the cloud sql socket factory which makes use of google-api-java-client within a Gradle build to setup cloud sql databases. The runningOnComputeEngine throws a network not reachable exception instead of the expected Socket

[2018-11-26 08:09] cmur2 opened #1217 "Depend on newer version of Guava. Guava 20 is more than 2 years old"
Basically the same inquiry as #1032 but now also a security vulnerability was discovered http://cve.circl.lu/cve/CVE-2018-10237 - could you please update this?

[2018-11-26 21:59] chingor13 commented on #1217
We will up the timeline on the 1.28.0 release with guava 26.0-android. Developers still on Java 6 can pin their versions to the 1.27.0 releases.

[2018-11-29 06:15] ashikazeez commented on #1150
upgrade your version to ` implementation 'com.google.android.gms:play-services-auth:16.0.1'`

[2018-11-30 13:52] #1008 closed

[2018-11-30 13:52] sduskis commented on #1008
This issue is obsolete.

[2018-12-03 19:50] ajaaym commented on #1216
@remmeier SocketException is subclass of IOException which is getting caught in for loop and is not getting thrown again. Looking at this code this method should return fine with printing exception in case of failure. Can you provide some more log surrounding crash point?

[2018-12-03 20:34] mattwhisenhunt commented on #1053
"This is not the [bug tracker you are looking for](https://issuetracker.google.com/issues?q=status:open%20componentid:344199%2B%20type:bug)."

This is just a client library to connect to Google APIs. We do not have any influence over server side behavior.

[2018-12-03 20:47] mattwhisenhunt commented on #1116
Hi @dacilsk,

This client isn't meant for a GData API like Contacts. If you need to stick with GData check out https://github.com/google/gdata-java-client.

If you are ready to use the [People API](https://developers.google.com/people/) then this is the client library for you. Let us know if you have anymore questions.

[2018-12-06 15:17] sduskis commented on #1028
There's an [answer on stack overflow](https://stackoverflow.com/questions/37317695/auth-google-sign-in-api-cannot-be-used-with-games-api).

Please see the full details on SO.

[2018-12-06 15:17] #1028 closed

[2018-12-06 15:19] sduskis commented on #1066
This question is old at this point. Please reopen it if this is still a problem.

[2018-12-06 15:19] #1066 closed

[2018-12-06 15:20] sduskis commented on #1063
@jadekler, is this something we should look at?

[2018-12-06 15:23] sduskis commented on #1082
It looks like there's a way to get the functionality you need, even though it's not ideal.  I'm going to close this for now, since the question itself is resolved.  If you'd like, please open a new issue for a feature request for a better user experience around this issue.

[2018-12-06 15:23] #1082 closed

[2018-12-06 15:31] sduskis commented on #983
I'm going to close this as obsolete.  Please reopen if this is still an issue.

[2018-12-06 15:31] #983 closed

[2018-12-06 15:46] vitamon commented on #1082
So finding a workaround now counts as fixing the issue?

[2018-12-06 15:53] sduskis commented on #1138
@aaronmefford, thanks for the clarification.

This issue is better handled by reporting a bug on the developers.google.com site, so I went ahead and submitted a bug.  We'll work with the team that manages that page.

[2018-12-06 16:06] sduskis commented on #1013
Given the date on this question, I'm going to close it.  Please reopen it if this is still an issue.

[2018-12-06 16:06] #1013 closed

[2018-12-06 16:10] sduskis commented on #1115
@rgrebski, it looks like there are defaults in place already.  I'm going to suggest that we keep things as is, unless there's an actual problem.

[2018-12-06 16:10] #1115 closed

[2018-12-06 16:11] sduskis commented on #1045
@chingor13, what are your thoughts on this issue?

[2018-12-06 16:19] chingor13 commented on #1045
You can specify the key as: `@Key("text()")`. See the [test example](https://github.com/googleapis/google-http-java-client/blob/fb1855551a998a1b62b319ca90840c4b45e052a4/google-http-client-xml/src/test/java/com/google/api/client/xml/GenericXmlTest.java#L347-L350) from google-http-client.

[2018-12-06 16:19] #1045 closed

[2018-12-06 16:35] #1217 closed

[2018-12-06 17:23] qaisjp commented on #1082
@vitamon in principle I agree with you, but this is not a client problem. (I have had this same issue with Python).

@sduskis, I think it would be best to keep this issue open with an `upstream` label. There's nothing the client can (or should) do, but it's still a problem.

[2018-12-06 17:30] vitamon commented on #1082
Ah, yes, agree, it is not the client's problem. Not sure where to report the Api issues

[2018-12-06 18:53] steve78b opened #1220 "googleCredential fails on Android"
Thanks for stopping by to let us know something could be better!

GoogleCredential tries to use the Android/Apache version of Base64, not the one in the dependency.
As this version is old, it doesn't have the method decodeBase64.

This fails on the emulators and on a real Android device.

The code in client.util.base64 explicitly refers to the apache commons version of Base64, but this is not foun

[2018-12-06 18:57] jadekler commented on #1063
I don't manage these libraries anymore. Rerouting to @chingor13 and @JesseLovelace.

[2018-12-06 23:53] sduskis commented on #1187
@ajaaym, can someone on your team look at this?

[2018-12-07 04:17] sduskis commented on #1053
Alternatively, you can follow the docs at https://developers.google.com/people/ to find a link to [stackoverflow's people tag](https://stackoverflow.com/questions/tagged/google-people) and ask a question there.

[2018-12-07 04:17] #1053 closed

[2018-12-07 04:18] sduskis commented on #1063
@ajaaym, this issue, and this repo are another place where your team can add value.

[2018-12-07 10:34] ajaaym commented on #1187
@sduskis yeah Romola will have a PR for this soon.

[2018-12-07 10:44] ajaaym commented on #1063
@sduskis sure, will look at this.

[2018-12-11 21:35] ajaaym commented on #782
This seems fixed.

[2018-12-11 21:35] #782 closed

[2018-12-11 21:36] ajaaym commented on #781
this seems fixed.

[2018-12-11 21:36] #781 closed

[2018-12-11 21:38] ajaaym commented on #939
If this is still an issue, can you please create new issue with sample code and full exception log?

[2018-12-11 21:38] #939 closed

[2018-12-14 01:32] Tyljlove commented on #1220
Having same issue. Any update?

[2018-12-16 10:49] steve78b commented on #1220
I found a bypass.

I downloaded a lot of jar files.
In studio64 project structure I then included them, one by one, until the bug went away.

This is what my gradle app file ended up with

dependencies {
....
  implementation files('libs/google-api-client-android-1.24.1.jar')
    implementation files('libs/google-api-client-1.24.1.jar')
    implementation files('libs/google-oauth-client-1.24.1.jar

[2018-12-17 05:44] Tyljlove commented on #1220
I've tried implementing this, and I am getting the same issues.. Any tips?

[2018-12-17 12:17] steve78b commented on #1220
Here it is
in the main gradle I have Google and Jcenter repositories.

[gradle.txt](https://github.com/googleapis/google-api-java-client/files/2685945/gradle.txt)

[2018-12-19 08:54] cbaezenko commented on #1150
I have the exactly same problem, I did not understand, how to fix the problem?, my dependencies are this:
    implementation 'androidx.appcompat:appcompat:1.0.2'
    implementation 'com.google.android.gms:play-services-auth:16.0.1'

[2018-12-25 01:20] eygraber opened #1227 "Upload CSV of Testers for the Play Store API"
It seems like there is no API call to upload a CSV of testers for a closed test track in the Play Store. Is it possible to add that?

[2018-12-27 18:09] #1187 closed

[2019-01-02 20:10] #1161 closed

[2019-01-02 21:47] chingor13 commented on #1220
The google-http-client was not correctly shading/jarjar'ing the apache common-codec version and it conflicts with the built-in android one.

[2019-01-02 22:09] chingor13 commented on #1220
Downgrading to 1.25.0 or earlier should work until 1.28.0 is released (soon).

[2019-01-02 22:45] #1172 closed

[2019-01-02 23:43] #1220 closed

[2019-01-05 00:46] chingor13 commented on #1151
This was likely due to a mismatch in versions between google-auth-library-java and google-api-java-client. We needed to upgrade the oauth token endpoint off of a deprecated one and it was across 2 separate libraries.

It's likely you were testing an older google-auth-library-java version against the newer google-api-client. The endpoints should be in sync in the latest versions.

[2019-01-05 23:43] hiranya911 commented on #1151
I still cannot get the above test case to pass without passing in the server URL :(

[code]

My project has google-api-client 1.25.0 and google-auth-library 0.11.0.

[2019-01-05 23:44] hiranya911 commented on #1151
Get the same error with google-api-cleint 1.27.0 and google-auth-library 0.12.0. Those are the latest versions. Please reopen this issue.

[2019-01-08 12:23] janhicken opened #1231 "DefaultCredentialProvider should detect GAE Standard"
This is the same issue as #1083, which has been fixed with #1109. However, the PR's changes but got reverted shortly after with #1123.

Now, I'm running into issues using the Cloud Endpoints framework on App Engine Standard with Java 8. I've registered a `ControlFilter` to publish API metrics to the Service Management API. This process uses the `DefaultCredentialProvider` to obtain credentials to

[2019-01-08 17:35] chingor13 commented on #1151
Ah, so here's what's happening: `ServiceAccountCredentials` reads the `token_uri` value from the service account JSON file provided. Older versions of the service account JSON files specified `https://accounts.google.com/o/oauth2/token` as the endpoint while newer ones use `https://oauth2.googleapis.com/token`. The `MockTokenServerTransport` defaults to only checking the newest endpoint URL for re

[2019-01-08 17:55] chingor13 commented on #1151
In #1232, we are handling the legacy endpoint for backwards compatibility while logging a warning message to update your credentials file.

[2019-01-09 16:12] mxlevin commented on #1208
If Credential is null, could be because the File DataStore directory pointed to (viz. projectRoot + "/googleOauth/ + Credentials_Directory doesn't have a StoredCredential file , or one corresponding to "uploadVideo" -  In this case try the following

                        replace
                     Credential credential = flow.loadCredential("user"); // we got credential null here

[2019-01-09 20:09] sduskis commented on #1208
@cyxcw1, sorry for the late answer.  Hopefully this helped.  I'm going to close this issue.  Please open a new issue if this isn't satisfactory.

[2019-01-09 20:09] #1208 closed

[2019-01-14 21:02] #1061 closed

[2019-01-14 21:02] #1173 closed

[2019-01-14 21:17] #1151 closed

[2019-01-15 14:53] LindaLawton commented on #1189
This is a known issue and not related to the library [Management API Cost Data Upload .csv Doesn't Have Filename](https://issuetracker.google.com/issues/35353754)

[2019-01-15 15:20] markusheiden commented on #1189
I cross posted this issue, because the name of the file passed to FileContent will be ignored when creating the request. This makes it impossible for the analytics api client to pass the file name to its endpoint. If this client lib has another proper way of passing the file name, then please tell me and close this issue.

[2019-01-18 20:41] ajaaym commented on #1216
You can also set this environment variable.
[code]
Closing this for now. Please reopen if this doesn`t help.

[2019-01-18 20:41] #1216 closed

[2019-01-18 20:59] ajaaym commented on #927
Can you please try with latest version and reopen this issue if its not resolved?

[2019-01-22 18:45] ajaaym commented on #1075
@edparris can you please try below?

[code]

GoogleApiHttpBody should only be used for non json data.

[2019-01-22 19:30] ajaaym commented on #1015
@Ionna Is this still an issue? if yes can you please create full repro by creating some public folder and full working code?

[2019-01-23 16:58] pdube opened #1236 "CloudResourceManager v1 and v2 package collision"
#### Environment details

- Java version: 8
- google-api-java-client version (artifact : version):
google-api-services-cloudresourcemanager : v2-rev20181015-1.28.0
google-api-services-cloudresourcemanager : v1-rev20181015-1.28.0

Hi all,

I am not sure that this is the right place for this, but I can't find the source repo for `google-api-services-cloudresourcemanager`.  If you know where it is ho

[2019-01-24 15:56] ajaaym commented on #1009
@mziccard do you expect the chunks to be of compressed bytes or non compressed bytes?

[2019-01-27 15:46] mmncoder commented on #1051
`if (mediaContentLength <= nextByteIndex || Thread.interrupted()) {
            // All required bytes have been downloaded from the server.
            bytesDownloaded = mediaContentLength;
            updateStateAndNotifyListener(DownloadState.MEDIA_COMPLETE);

          //how about if we comment the `return`, so that that the code will continue to execute
          //thus, download will not stop

[2019-01-27 18:16] jjYBdx4IL opened #1237 "blogger api endpoints unstable, need resilient retry mechanism"
I often get SSLExceptions with "read timed out" when accessing Blogger API using the Google API Java Client.

I wrote a workaround for that. However:

for proper retry mechanisms, the API needs to support some sort of a unique transaction code to detect duplicates, ie. when creating new Blogger posts to avoid creating duplicates. For that reason the retry mechanism should be embedded into the Goog

[2019-01-28 13:20] kamyag commented on #1063
@liamsharp Is it still a problem? I can not reproduce
Can you add a code that you use for Property Set and siteUrl?

[2019-01-30 15:46] liamsharp commented on #1063
@kamyag The code to reproduce this is in my opening comment to this issue.

The key thing you need to do is (and I did this using the old GSC UI as I couldn't find it in the new one) is to create a property set in GSC:

<img width="1247" alt="screen shot 2019-01-30 at 15 41 31" src="https://user-images.githubusercontent.com/6429288/51992927-cbdd6a00-24a5-11e9-9b12-4babfa694451.png">

Although I've

[2019-02-11 16:36] #1015 closed

[2019-02-11 16:38] ajaaym commented on #1075
closing this for now. Please feel free to reopen with more information if needed.

[2019-02-11 16:38] #1075 closed

[2019-02-12 16:27] sduskis commented on #936
@andrey-qlogic, it looks like this is an obsolete issue.  `GenericData` doesn't exist anymore. That said, please add a unit test for the issue, if one doesn't exist already.

[2019-02-12 16:41] cowwoc commented on #1191
@sduskis Are there plans to add `module-info.java` or do you plan to stick with `Automatic-Module-Name`?

[2019-02-12 17:14] ajaaym commented on #936
[GenericData](https://github.com/googleapis/google-http-java-client/blob/master/google-http-client/src/main/java/com/google/api/client/util/GenericData.java) is in google http java client.

[2019-02-12 18:39] sduskis commented on #1191
@cowwoc, I just merged #1235 which auto-closed this issue.  I reopened it for further discussion.

[2019-02-13 11:58] SubshellDaniel commented on #927
We got the same result with the latest release on Maven Central: v3-rev20190128-1.28.0

[2019-02-13 14:51] #936 closed

[2019-02-13 16:56] #956 closed

[2019-02-22 20:34] #1101 closed

[2019-02-22 20:35] #950 closed

[2019-02-26 09:46] liamsharp commented on #1063
I've just got an email from Google with the title:

"Property sets no longer supported in Search Console after March 2019"

So I guess we can close this one off!

[2019-02-26 09:46] #1063 closed

[2019-03-02 03:02] chenjianjx commented on #1060
When will this be fixed in this open source project?   Any ETA ?

[2019-03-08 14:10] marcus-hiles commented on #1159
@kbboss can you provide more details about your programming frameworks here?

[2019-03-08 19:40] sduskis commented on #1085
I'm closing this due to staleness.  This is something that we would have needed much more debugging information, and probably just suggest that the Google Play support is used (https://support.google.com/googleplay/?hl=en#topic=3364260)

[2019-03-08 19:40] #1085 closed

[2019-03-08 19:41] sduskis commented on #1009
I'm going to close this due to staleness.  Please open a new issue if this is still a problem.

[2019-03-08 19:41] #1009 closed

[2019-03-08 19:42] sduskis commented on #927
@ajaaym, can you please get someone to look at this?

[2019-03-08 19:43] sduskis commented on #859
I'm closing this due to staleness.  Please open a new issue if this is still a problem.

[2019-03-08 19:43] #859 closed

[2019-03-08 19:45] ajaaym commented on #927
@sduskis yeah its in progress.

[2019-03-12 12:15] andrey-qlogic commented on #1051
@markperona,  @JustinBeckwith, @mattwhisenhunt  this may be already fixed with https://github.com/googleapis/google-api-java-client/issues/1101

[2019-03-13 08:47] Dularl opened #1245 "Clarify google api java client documentation"
It's not an actual bug but seems like the documentation is a bit outdated.
The page I am talking about is https://developers.google.com/api-client-library/java/google-api-java-client/oauth2 .

 It was updated on 09.13.2018 . However it still mentions google plus related stuff which I think it's not relevant anymore or at least it's very confusing as Google+ APIs are shutting down.

Could you pleas

[2019-03-14 12:23] elharo commented on #1245
Makes sense. Anyone know whether the document in google3 is the canonical source, or is that copied in from Github?

[2019-03-18 19:49] cemo commented on #1082
@sduskis where this issue should be reported? It seems the issue in public issue tracker of google could not get enough attention as always.

[2019-03-18 19:53] cemo commented on #1082
By the way for those who will hit this issue: you can use `get` instead of `hasMember`, it returns users without looping all members by `list`.

[2019-03-18 21:06] sduskis commented on #1082
@cemo, I'd start here: https://developers.google.com/admin-sdk/directory/support.  There's the issue tracker, which you tried, and stack overflow.  I wish i had a better answer.

[2019-03-21 19:40] dKatsuro commented on #1078
I'm seeing the same issue as well. Using Python here.

[2019-03-25 14:47] bootstraponline opened #1247 "Proxy support?"
I'm using the Firebase Test Lab Java client which uses `google-api-java-client` under the hood. A bug report came in that the API calls aren't respecting proxies. When using the gcloud CLI, proxy support is automatically detected with no end user configuration. Is it possible to achive something similar with `google-api-java-client`?

#### Environment details

- OS: `macOS Mojave 10.14.3`
- Java v

[2019-03-25 15:19] leinardi commented on #1247
I'm currently evaluating for the company I work for if it would make sense to run our CI's Espresso tests using Firebase Test Lab instead of using the standard Android Emulator on our local build servers.
This issue is blocking us because FTL doesn't provide any sharding feature and Flank is the best solution out there but cannot be used because of the missing proxy support of `google-api-client`.

[2019-03-28 16:35] sneko commented on #1082
Hi @sduskis , are you able to forward the post on issue tracker internally to the right team managing Admin SDK please (no answer on it...)?

I'm in the same situation than others, hasMember() helps a lot to know about members in nested groups, but if trying on a @gmail.com account does not work... it looses all its sense 😢

And if that's the wanted behavior, it would be great to get some informat

[2019-03-28 18:13] Sparticuz commented on #1082
I already filed a bug upstream last year: https://issuetracker.google.com/issues/109861216

My guess as to why it hasn't been fixed is probably privacy related.

[2019-03-28 18:21] sneko commented on #1082
@Sparticuz I saw your issue and "upvoted". I was just asking @sduskis if it's possible he pushes it to the right team since he seems to work at Google.

[2019-05-09 20:29] nate4d opened #1250 "java.lang.IllegalArgumentException: key authorizationTimestamp API Client unable to parse response from Tag Manager"
When issue requests to Tag Manager v2 API
https://www.googleapis.com/tagmanager/v2/+parent/environments
The 1.22 through 1.28 Java client versions are throwing a java.lang.IllegalArgumentException: key authorizationTimestamp

- Java version: 8
- google-api-java-client version:
1.22.0 through 1.28.0
google-api-services-tagmanager
v2-rev3-1.22.0 through v2-rev20190220-1.28.0

[code]
#### Stacktrace

[2019-05-10 12:44] elharo commented on #1018
#1094 doesn't seem to have worked. Possibly we need to add it to each jar individually?

$ more  META-INF/MANIFEST.MF
Manifest-Version: 1.0
Implementation-Title: GSON extensions to the Google APIs Client Librar
 y for Java
Implementation-Version: 1.28.0
Built-By: root
Implementation-Vendor-Id: com.google.api-client
Created-By: Apache Maven 3.5.4
Build-Jdk: 1.8.0_181
Implementation-URL: https://git

[2019-05-10 18:56] elharo commented on #1018
shows up when library is first built but somehow lost later

[code]

[code]

It's like MANIFEST.MF gets regenerated and written over later in the build cycle.

[2019-05-10 19:18] elharo commented on #1018
We may need to configure the jar plugin like so:

[code]

[2019-05-13 20:40] elharo opened #1254 "'build.plugins.plugin.version' for org.apache.maven.plugins:maven-site-plugin is missing."
[WARNING] Some problems were encountered while building the effective model for com.google.api-client:google-api-client-bom:pom:1.28.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-site-plugin is missing. @ line 134, column 15
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-javadoc-plugin is missing. @ line 128, column 15
[WARNING]

[2019-05-13 21:46] #1018 closed

[2019-05-16 15:15] peopleYang opened #1256 "[AndroidPublisher]The current user has insufficient permissions to perform the requested operation."
i am se the json credential to call the api.
but meet the error

[code]

[code]

[2019-05-16 15:17] peopleYang commented on #1256
i m use service account and grant all  permissions to it

[2019-05-16 15:20] peopleYang commented on #1256
![屏幕快照 2019-05-16 23 19 10](https://user-images.githubusercontent.com/44996216/57865965-1e624c80-7831-11e9-8038-6e704a57e430.png)

[2019-05-28 19:39] xeastcrast commented on #1256
Same here

[2019-05-31 03:21] qtxo opened #1264 "where are (or how to build) the generated libraries?"
The official web page https://developers.google.com/api-client-library/java/ still references the old version 1.25.0.

The latest official generated library for Drive API
[code]

But, I am using version 1.28.0 I found in maven repo for some libs:
[code]
What is the correct and official version of the generated libraries?

Or should we generate our own?

[2019-05-31 17:47] chingor13 commented on #1264
Apologies, we are in the process of updating those docs to point to the real latest versions.

The source code for the newest versions exists https://github.com/googleapis/google-api-java-client-services

[2019-06-05 10:34] qtxo commented on #967
Use a manual parsing code:

[code]
And InputStreamJsonField is just a custom InputStream wrapper that ignores the first JSON chars and delegates to `org.apache.commons.codec.binary.Base64InputStream.Base64InputStream(InputStream)`

[code]

[2019-06-07 10:12] samrajcse opened #1315 "Gmail service Confidential Mode applied email download feature"
#### Environment details

- OS: Windows  / Linux
- Java version: 1.8
- google-api-java-client version: 1.25

Hi Team,

I am using gmail api for downloading emails. Recently Gmail introduced the new feature to add confidential mode support. From Gvault I can able to achieve. But I don't see any api for gmail to download the raw email in decrypted form ( Unlocked mode). Please help me in finding the

[2019-06-19 01:35] grant opened #1329 "Remove Repo Description URL"
Please remove the GitHub Repo Description URL. (No need for a replacement)

Docs for this client should be located in a different place than api-client-libraries/.

For example, the G+ API is deprecated. We can't use that as our official sample.
https://developers.google.com/api-client-library/java/google-api-java-client/samples

[2019-06-26 17:55] chingor13 commented on #1329
Removed the URL from the description.

[2019-06-26 17:55] #1329 closed

[2019-07-09 15:45] jbharter commented on #1236
Can we get an update on this? Designing around it is becoming kindof annoying

[2019-07-12 20:47] chingor13 opened #1341 "Publish SNAPSHOT releases nightly"
This will help us detect downstream breakage before releasing the library

[2019-08-04 04:41] qtxo commented on #1264
I can't find the sources for Admin Directory API, they exist in a private repo?

[2019-08-12 22:32] chingor13 commented on #1250
This was "fixed" in the discovery definition in `rev20190617` - it the field was changed to a `google-datetime` which is surfaced as a `String`. To fix it, you can upgrade your client to any `v2-rev20190617-xxx` version or later.

After `rev20190617`, `Environment#getAuthorizationTimestamp()` returns a `String` instead of a `Timestamp` which could not be parsed from the JSON response.

[2019-08-12 22:32] #1250 closed

[2019-08-12 22:38] #1254 closed

[2019-08-12 23:37] chingor13 commented on #1264
The missing Admin APIs from the list was fixed in https://github.com/googleapis/google-api-java-client-services/pull/2607. Links from the README to the list of services is being fixed in #1353

[2019-08-12 23:39] chingor13 commented on #1245
Content from those pages has been migrated into this repo (and related libraries' repositories) wiki. The links from the README are being fixed in #1353

[2019-08-13 00:11] chingor13 commented on #1159
These clients already implement the resumable upload protocol for all Google APIs that support it. You can find more information https://github.com/googleapis/google-api-java-client/wiki/Media-Upload. For additional control, you should be able to [set a backoff strategy](https://github.com/googleapis/google-http-java-client/wiki/Exponential-Backoff) so it will continue to retry sending chunks of y

[2019-08-13 00:11] #1159 closed

[2019-08-20 17:18] #1245 closed

[2019-08-20 17:18] #1264 closed

[2019-08-20 17:18] #1341 closed

[2019-08-20 20:36] elharo opened #1363 "chore(deps): update dependency com.google.protobuf:protobuf-java to v3 #1361"
Renovabot tried to do this, but the build scripts that point to protoc.exe were outside its limited knowledge so the tests failed. We should be able to do this manually, however.

[2019-08-20 21:39] elharo commented on #1363
protoc-plugin does not come from Maven central and this may be part of the problem. Not sure how reliable or canonical this site is:

[code]

[2019-08-20 21:48] elharo commented on #1363
[WARNING] Missing POM for com.google.protobuf:protoc:exe:linux-x86_64:3.9.1-build2

The issue seems to be the "-build2" at the end. Not clear where that comes from.

[2019-08-20 22:34] #1363 closed

[2019-08-22 21:01] akostadinov commented on #1091
There is a problem with credentials as well [1]. It points at oauth2 [2] which refers to GoogleCredential [3]. And that is listed as Deprecated.

Please somebody update to a non-deprecated example.

[1] https://developers.google.com/api-client-library/java/google-api-java-client/dev-guide
[2] https://developers.google.com/api-client-library/java/google-api-java-client/oauth2
[3] https://googleapis

[2019-08-22 21:03] akostadinov opened #1366 "update credentials documentation"
There is a problem with credentials documentation [1]. It points at oauth 2.0 [2] which refers to GoogleCredential [3]. And that is listed as **Deprecated**.

Please somebody update to a non-deprecated example.

[1] https://developers.google.com/api-client-library/java/google-api-java-client/dev-guide
[2] https://developers.google.com/api-client-library/java/google-api-java-client/oauth2
[3] https

[2019-08-22 21:53] akostadinov commented on #1366
This is what I figure out so far. Not yet sure how well it works but here I paste in **groovy**:
[code]

Hope it helps somebody get started quickly.

[2019-08-30 23:56] chingor13 opened #1368 "Publish SNAPSHOT releases nightly"
This will help us detect downstream breakage before releasing the library

- [x] add build config in this repo
- [x] add job config internally

[2019-09-03 16:49] samrajcse commented on #967
Any efficient fixes or workaround for this issue?

[2019-09-04 09:54] liamsharp opened #1370 "google-api-java-client AccountSummary.getWebProperties limited to 1000"
#### Environment details

- OS type and version: Windows 10
- Java version: 1.8u161
- google-api-client version(s): v3-rev20180730-1.28.0

#### Steps to reproduce

Connect to an account with 1200 properties (yes, I know, it's a lot!), then call `getWebProperties()` on the `AccountSummary`, the results are limited at 1000.

#### Code example

[code]

#### Any additional information below

Results i

[2019-09-11 21:39] chingor13 commented on #1370
It looks like the API limits the number of web properties. You can use [analytics.management.webproperties.list](https://github.com/googleapis/discovery-artifact-manager/blob/5cbdd93743bcbce7041b1a5b5a4aabff87863bdc/discoveries/analytics.v3.json#L7104-L7141) to fetch the list of web properties for an account. This API provides pagination options.

[2019-09-11 21:39] #1370 closed

[2019-09-11 21:47] chingor13 commented on #1368
These should be happening nightly now

[2019-09-11 21:47] #1368 closed

[2019-09-16 22:12] stefan-zh commented on #1366
Thank you! It worked for me!

[2019-09-19 16:29] ludovic-lambert opened #1381 "Blogger API v3 : when calling /posts/search/, parameter nextPageToken is ignored"
Env : javascript, using XMLHttpRequest and JSON API.

When calling `{URL}/posts/?{parameters}` :
- the 10 first items are returned
- if the response contains more than 10 items, an attribute `{ "nextPageToken":"xyz" }` is added to the JSON data response.

Then when calling `{URL}/posts/?{parameters}&pageToken={nextPageToken}` :
- the response contains the next 10 items
- a new `nextPageToken` is r

[2019-09-20 11:17] alapshin opened #1382 "Version 1.30.3 causes crash on Android < 8.0 when using FileDataStoreFactory from transitive google-http-java-client dependency"
#### Environment details

1. OAuth2
2. Android < 8.0 (API < 26)
3. Java version:
4. google-api-client version(s): 1.30.3

#### Steps to reproduce
1. Update google-api-java-client to 1.30.3 (from 1.30.2)
2. Try to create new instance of `FileDataStore` for `AuthorizationCodeFlow.Builder`
3. Launch application on device with Android < 8.0
4. Application crashes with attached stacktrace

#### Code ex

[2019-09-25 14:51] chingor13 commented on #1381
This is the repository for the java client so this issue doesn't belong here.

However, to answer the question, the [posts search endpoint](https://github.com/googleapis/discovery-artifact-manager/blob/5fafbc3f1330a4536c3d0f674a9ddce55c01aef3/discoveries/blogger.v3.json#L2365-L2415) does not appear to accept a `pageToken` parameter.

[2019-09-25 22:05] ludovic-lambert commented on #1381
Hi, thank you for your answer. According to the fact a nextPageToken is provided, and as it should be possible to retrive more than 10 items from a /posts/search/, I think this might be a bug. Could you please guide me to the right place to open this issue?

[2019-09-27 18:17] hhansalesforce opened #1387 "enable instance virtual display"
Thanks for stopping by to let us know something could be better!

Need the api support for this feature when creating instance
https://cloud.google.com/compute/docs/instances/enable-instance-virtual-display

[2019-09-27 18:22] hhansalesforce commented on #1387
the feature should be added here -- com.google.api.services.compute.model.Instance

[2019-10-01 19:27] chingor13 commented on #1387
This feature is already available in the `google-api-services-compute` library:

[code]

[2019-10-01 21:28] hhansalesforce commented on #1387
Thanks for looking into. Can you confirm the maven setup for accessing the import class?

Here is what I have now which doesn't have the import available for me
 <version.gcp-api-client>1.30.4</version.gcp-api-client>
        <version.gcp-api-services-compute>v1-rev193-1.23.0</version.gcp-api-services-compute>

        <version.gcp-google-http-client>1.23.0</version.gcp-google-http-client>

<depen

[2019-10-01 21:31] medb commented on #925
Please, reopen this issue is still relevant and wasn't fixed.

[2019-10-01 21:38] chingor13 commented on #1387
Ah, you have a *very* old version of the compute API and the supporting libraries. google-http-client is on version 1.32.1, google-api-client is on 1.30.4, google-api-services-compute is at v1-rev20190825-1.30.3

Is there a reason you need to pin the dependencies so far back?

For the above, I would recommend:
[code]

where `version.gcp-api-services-compute` is `v1-rev20190825-1.30.3`. The `librar

[2019-10-11 20:37] hhansalesforce commented on #1387
@chingor13  Thank for following up.
I think another dependency issue
I am getting following error:
[code]

[2019-10-11 20:45] ajaaym commented on #1387
@hhansalesforce Can you please make sure you using latest version of google-api-client? See [here](https://github.com/googleapis/google-cloud-java/issues/6435)

[2019-10-11 20:45] chingor13 commented on #927
This may have been a server side bug, but seems to work fine now. The video tags are correct when I tested both insert and update. Note: I am using `google-api-services-youtube` version `v3-rev20190827-1.30.1`

Insert:
[code]

Update:
[code]

List:
[code]

[2019-10-11 20:45] #927 closed

[2019-10-11 22:31] chingor13 commented on #1189
1. The name of the uploaded file does not appear to be used by the analytics management API.

2. These client libraries are generated from the [API specification](https://github.com/googleapis/discovery-artifact-manager/blob/5f26037678b0327fa2b00ff226ab9dcb4edf9d95/discoveries/analytics.v3.json#L6750-L6805) of the service. Services that normally care about the file name define the file name as a p

[2019-10-11 22:31] #1189 closed

[2019-10-11 22:39] chingor13 commented on #1382
Unfortunately, you'll have to either lock your google-http-client to 1.30.2 or provide your own `DataStoreFactory` implementation. We will update the docs in google-http-client.

[2019-10-14 19:13] codyoss commented on #1236
Hey @pdube I think you are right that shading does sound like your best option at the moment. If you would like to file and issue for that project I suggest using [the cloud issue tracker](https://cloud.google.com/support/docs/issue-trackers). If you search `Resource Manager` on that page you can look at open issues and/or open your own.

[2019-10-15 08:13] forking-renovate[bot] opened #1392 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: Syntax error: expecting String near
    },

[2019-10-16 19:06] pdube commented on #1236
Thanks @codyoss. I'll take a look at the open issues

[2019-10-16 19:11] pdube commented on #1236
I have created it here : https://issuetracker.google.com/issues/142779997

[2019-10-16 19:29] codyoss commented on #1236
Awesome, thanks @pdube! I will close this issue as we now have this properly tracked on that issue tracker.

[2019-10-16 19:29] #1236 closed

[2019-10-21 17:33] erkolson opened #1396 "Default Credentials fail under GKE/Workload Identity"
#### Environment details

1. Auth Oauth2
2. OS type and version: linux container in GKE with workload identity configured on the pod service account
3. Java version: 7/8
4. google-api-client version(s): latest

#### Steps to reproduce

  1. Invoke the application default credential

#### Code example

[code]

#### Stack trace
[code]

[2019-10-21 20:11] sdivi commented on #1396
+1

[2019-10-23 08:29] jakubMitura14 opened #1400 "gradle android compilation problem"
Please run down the following list and make sure you've tried the usual "quick fixes":

#### Environment details
API -s
com.google.apis  drive  sheets  calendar gmail docs and classroom
2. OS type and version: Windows 10
3. Java version:         jvmTarget = "1.8"
4. google-api-client version(s): v3-rev173-1.25.0

#### Steps to reproduce
I try to compile android app with following build gradle
[cod

[2019-10-28 15:58] yerzhik opened #1403 "Google backend authenticate failure, base64 decoding fails at GoogleIdTokenVerifier.verify"
#### Environment details

1. OS type and version: Windows 7
2. Java version: 8
3. google-api-client version(s): 1.30.4

#### Steps to reproduce

  1. Follow steps in https://developers.google.com/identity/sign-in/web/backend-auth
  2. On backend: GoogleIdToken idToken = verifier.verify(googleToken); cause issue

#### Code example
[code]

#### Stack trace
verifier.verify runs up to  BaseEncoding.cl

[2019-10-31 14:47] codyoss commented on #1400
Have you tried something similar to: https://stackoverflow.com/questions/44342455/more-than-one-file-was-found-with-os-independent-path-meta-inf-license ?

[2019-10-31 14:51] codyoss commented on #1396
@erkolson It looks like yoru PR was mereged, can we close this or is there more to be done?

[2019-11-01 02:27] #1396 closed

[2019-11-01 02:28] erkolson commented on #1396
Yes, closed.

[2019-11-05 15:41] codyoss commented on #1403
Hey @yerzhik thanks for the report. I will investigate.

[2019-11-07 13:26] HarryEuro commented on #1247
I'm also having similar issues because i'm behind a corporate proxy with a self signed certificate. The proxy url and port can be specified with VM options (`-Dhttp.proxyHost=...` `-Dhttp.proxyPort=...`).

The big problem is the self signed certificate. The `google-api-java-client` uses it's own Java KeyStore (`src/main/resources/com/google/api/client/googleapis/google.jks`) and not the official f

[2019-11-12 11:51] elharo opened #1411 "Remove jackson"
It appears that jackson-core-asl and jackson-core2 are no longer dependencies of this library and can be removed from the various files where they still appear.

[2019-11-12 13:51] elharo opened #1413 "The optimize_for = LITE_RUNTIME option is no longer supported by protobuf Java code generator"
[INFO] Compiling 1 proto file(s) to /home/elharo/google-api-java-client/google-api-client-protobuf/target/generated-test-sources/protobuf/java
[WARNING] PROTOC: [libprotobuf WARNING ../../../../../src/google/protobuf/compiler/java/java_file.cc:242] The optimize_for = LITE_RUNTIME option is no longer supported by protobuf Java code generator and is ignored--protoc will always generate full runtime

[2019-11-12 14:18] elharo opened #1415 "There is no wiki"
README.md says

Usage

For detailed instructions on usage, please visit the wiki.

but there is no WIKI

[2019-11-20 19:34] chingor13 opened #1426 "User-Agent string uses invalid format"
The default user agent (and appended user agent) only uses `Google-API-Java-Client`. It should include the version (e.g. `Google-API-Java-Client/1.30.6`)

This blocks reporting on the backend with regards to which version of the google-api-client is being used.

[2019-11-21 11:31] andresduarte94 opened #1427 "Write selectively to a range isn’t working"
#### Environment details
2. OS type and version: N/A
3. Java version: 1.8
4. google-api-client version(s): v4-rev20191115-1.30.3

#### Steps to reproduce
 1) Starting from the Sheets Java quickstart [2], use the below code in the main function.
 2) Create a Spreadsheet and replace its ID in the code above.
 3) Run the code.

Expected behavior:
It should update cells A1, B1, C1, E1 and G1. Leaving

[2019-11-21 17:55] Capstan opened #1428 "GooglePublicKeysManager doesn't work with IAP's keys"
**Is your feature request related to a problem? Please describe.**
I am trying to validate IAP JWTs per https://cloud.google.com/iap/docs/signed-headers-howto. Instead of writing my own, given it's just an alternative `GoogleIdToken`, I want to be able to use `GooglePublicKeysManager` with `GoogleIdTokenVerifier`. However, the URL that IAP publishes their keys are https://www.gstatic.com/iap/verif

[2019-11-21 21:02] #1426 closed

[2019-11-22 21:39] codyoss commented on #1403
@yerzhik how are you getting `googleToken`? Are you still having this issue?

[2019-11-23 04:47] yerzhik commented on #1403
I downgraded the library version and the same code worked

On Sat, Nov 23, 2019 at 6:39 Cody Oss <notifications@github.com> wrote:

[2019-11-23 21:06] zelda2626 commented on #1403
What version? I tried several and doesn't work...

[2019-11-25 01:14] yerzhik commented on #1403
I just followed official tutorial/example codes. I can put it here later today if needed.

[2019-11-25 15:31] jakubMitura14 opened #1430 "AppScript in Android authorization error"
## Environment details

1. google-api-services-script  version: 'v1-rev437-1.25.0'
2. Android 10
3. Java version: 8
4. google-api-client-android', version: '1.30.5'

#### Steps to reproduce
 try to connect to App Script through android lie in the code below

#### Code example

#### Stack trace
first I establish scopes
[code]
 I invoke reqest sign in in onCreate
[code]

then i Create credential on

[2019-11-25 19:35] jakubMitura14 commented on #1400
Yes thanks it helped!

[2019-11-25 19:35] #1400 closed

[2019-12-02 21:53] codyoss commented on #1427
All of your links are for Sheets. I think you might want to open an issue under: https://github.com/googleapis/google-api-java-client-services If I missed something please feel free to reopen.

[2019-12-02 21:53] #1427 closed

[2019-12-02 21:59] elharo opened #1434 "Docs use Google+ sample"
https://googleapis.github.io/google-api-java-client/android.html
https://googleapis.github.io/google-api-java-client/errors.html

This needs to be updated to something else.

[2019-12-02 22:46] #1415 closed

[2019-12-03 16:57] #1411 closed

[2019-12-03 18:39] elharo opened #1438 "Wrong sidebar in docs"
Sidebar on https://googleapis.github.io/google-api-java-client/batching.html is for google-http-java-client

[2019-12-03 19:01] #1438 closed

[2019-12-03 23:27] chingor13 opened #1441 "MediaHttpUploader references code.google.com"
The generated javadoc contains a dead link: https://github.com/googleapis/google-api-java-client/blob/fd5c50938096eb855a5559b569f7c0b0c8124e14/google-api-client/src/main/java/com/google/api/client/googleapis/media/MediaHttpUploader.java#L47

[2019-12-03 23:41] #1441 closed

[2019-12-06 18:58] elharo opened #1445 "remove comment about syncing versions"
This comment in pom.xml no longer seems to be true. At least we haven't done this for a while:

[code]

[2019-12-06 19:32] #1413 closed

[2019-12-10 06:08] sumitiu opened #1450 "Initializing MyApi using builder giver Exception"
Caused by: java.lang.IllegalStateException: No successful match so far
        at java.util.regex.Matcher.ensureMatch(Matcher.java:1116)
        at java.util.regex.Matcher.group(Matcher.java:382)
        at com.google.api.client.googleapis.GoogleUtils.<clinit>(GoogleUtils.java:66)
        at com.idragonit.backend.myApi.MyApi.<clinit>(MyApi.java:46) 
Version Using: implementation 'com.google.api-cl

[2019-12-13 02:48] Samikay opened #1451 "Android/Java 1.30.6 causing crash due to PR #1419"
Prompted by this SO post with more details: https://stackoverflow.com/questions/59243821/youtube-api-exception-in-initializer-error/59298544#59298544

#### Environment details

- OS: Android
- Java version: 8
- google-api-java-client version: 1.30.6

#### Steps to reproduce

1. Try to access GoogleUtils.VERSION with build.gradle looking like:
`dependencies {
  implementation ('com.google.api-clien

[2019-12-13 02:51] Samikay commented on #1450
Hey there, if you'd like this to work in the interim I've answered an SO post about the problem here: https://stackoverflow.com/questions/59243821/youtube-api-exception-in-initializer-error/59298544#59298544

And unfortunately, I duplicated this issue here if someone would like to decide which issue to close: https://github.com/googleapis/google-api-java-client/issues/1451

Cheers

[2019-12-16 20:11] codyoss commented on #1403
@yerzhik could you share what version worked, and did not work for you? This verify code seems like it has been pretty stable so if there is something going on here I think it is in one of the dependencies of the lib.

[2019-12-17 22:55] GuyDviri opened #1455 "'com.google.api-client:google-api-client:1.30.6"
Crash my endpoint Wapi -thread - 9 error

[2019-12-17 23:28] #1451 closed

[2019-12-18 12:58] Capstan commented on #1428
I have a working variant now using https://connect2id.com/products/nimbus-jose-jwt based the [IAP Java sample](https://cloud.google.com/iap/docs/signed-headers-howto#iap_validate_jwt-java). I have rebased my original attempt at using `GooglePublicKeysManager` on top.

One issue is that `JavaWebSignature` only supports `RS256` algorithm, but the IAP JWTs use `ES256`, which is apparently natively su

[2019-12-18 14:58] Capstan commented on #1428
Figured out the signature error. JWS has the signature in the format of two sequential 32-byte integers. Java expects the signature to be in DER sequence, so the signature has to be transformed before calling `signatureAlgorithm.verify(signatureBytes)`. This is described in part in [this stackoverflow issue](https://stackoverflow.com/questions/56824921/java-security-signatureexception-invalid-enco

[2019-12-18 21:21] Capstan commented on #1428
This is a simplistic approach for loading public keys directly rather than from certs, without fixing the nomenclature of the fields. I'm not sure if one can know a priori what `KeyFactory` to use generally:
[code]

This extends the validator to handle ES256 signatures. The DER converter is simplistic, but functional. I'd use Tink or BouncyCastle if that were an option:
[code]

With these changes,

[2019-12-20 11:33] Capstan commented on #1428
[EllipticCurves.ecdsaIeee2Der](https://google.github.io/tink/javadoc/tink/1.2.1/com/google/crypto/tink/subtle/EllipticCurves.html#ecdsaIeee2Der-byte:A-) works and is an improvement, but the [warning is not to use the subtle package](https://github.com/google/tink/blob/master/docs/JAVA-HOWTO.md#important-warnings), so presumably you'd want to use something higher level.

[2019-12-23 16:26] codyoss commented on #1455
Could you please provide some more information like a stack trace? Also, can you please try to upgrade to `1.30.7` and let me know if you still have your issue?

[2019-12-23 16:37] GuyDviri commented on #1455
this the error on 1.30.6
FATAL EXCEPTION: Thread-10
java.lang.ExceptionInInitializerError .wAPI.WAPI.<clinit>(WAPI.java:46)

1.30.7 : seems to have no issue.

[2019-12-23 16:38] codyoss commented on #1455
Glad that fixed it for you!

[2019-12-23 16:38] #1455 closed

[2019-12-24 10:18] jakeershaik217 opened #1460 "How to get Server Authorization code using Google Client Api"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

[2019-12-24 14:32] heatherrenee1983 commented on #1460
Help

On Tue, Dec 24, 2019, 4:18 AM Jakeer <notifications@github.com> wrote:

[2019-12-26 22:07] codyoss commented on #1460
I think you might find the docs on this page useful: https://developers.google.com/api-client-library/java

If this does not help feel free to reopen with more details.

[2019-12-26 22:07] #1460 closed

[2020-01-02 16:09] elharo commented on #1450
This should be fixed in 1.30.7.

[2020-01-03 20:53] moadi opened #1464 "How to force users to sign in with a particular hosted domain"
Hi there,

This is more of a general question about how to use this Java library to ensure that I only allow users from a particular domain to be signed in to my app.

Looking at the documentation [here](https://developers.google.com/identity/protocols/OpenIDConnect#authenticationuriparameters) it states:

_The hd (hosted domain) parameter streamlines the login process for G Suite hosted accounts.

[2020-01-07 17:02] moadi commented on #1464
My apologies, I should have read the javadoc more closely. The `GoogleAuthorizationCodeRequestUrl` has a `set()` method where I can specify the `hd` param and set it to my org's domain. This seems to work as expected.

[2020-01-07 17:02] #1464 closed

[2020-01-08 18:50] adityabhaskar commented on #1450
Still getting this error on `1.30.7` with `minifyEnabled`. Doesn't occur when `minifyEnabled` is set to false.

[code]

Code where it occurs..
[code]

[2020-01-08 21:44] elharo commented on #1450
To be clear, it didn't whether minifyEnabled was true or false, right?

I'm not an Android expert so I need to dig into what minifyEnabled implies, but I'm guessing that it's somehow stripping code and removing code that is in fact accessed by reflection.

[2020-01-08 21:46] elharo commented on #1450
Bingo:

For most situations, the default ProGuard rules file (proguard-android- optimize.txt) is sufficient for R8 to remove only the unused code. However, some situations are difficult for R8 to analyze correctly and it might remove code your app actually needs. Some examples of when it might incorrectly remove code include:

    When your app calls a method from the Java Native Interface (JNI)

[2020-01-08 21:50] elharo commented on #1450
The problem is from https://github.com/googleapis/google-api-java-client/pull/1452/files and I think this line in `GoogleUtils`:

[code]

[2020-01-08 21:53] elharo commented on #1450
We should probably apply the annotation `androidx.annotation.Keep ` to GoogleUtils.

[2020-01-08 21:56] elharo commented on #1450
Meanwhile try adding

-keep public class com.google.api.client.googleapis.GoogleUtils

or some such thing to your proguard rules file.

[2020-01-08 22:29] elharo opened #1466 "Format warnings at head"
[WARN] /home/elharo/google-api-java-client/google-api-client/src/main/java/com/google/api/client/googleapis/apache/GoogleApacheHttpTransport.java:20: Extra separation in import group before 'com.google.api.client.util.SslUtils' [ImportOrder]
[WARN] /home/elharo/google-api-java-client/google-api-client/src/main/java/com/google/api/client/googleapis/apache/GoogleApacheHttpTransport.java:27: Wrong or

[2020-01-09 02:10] kimjinwook88 opened #1468 "How do launch user browser in a linux? (AuthorizationCodeInstalledApp -> browse)"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

browse function in AuthorizationCodeInstalledApp.class

[code]

[2020-01-10 12:23] dmitry-fa commented on #1468
The default browser could be launched by the following line:
`           Desktop.getDesktop().browse(URI.create(url));`
To start a custom browser you one can use the following line:
`            Runtime.getRuntime().exec("/usr/bin/firefox " + url);`

The simple program below will allow you to experiment
[code]

[2020-01-12 20:43] #1450 closed

[2020-01-14 08:33] yoshi-automation opened #1477 "Synthesis failed for google-api-java-client"
Hello! Autosynth couldn't regenerate google-api-java-client. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/482a7766-2134-4c8a-887d-f6441089f633).

[2020-01-14 21:49] yoshi-automation commented on #1477
Autosynth passed, closing! :green_heart:

[2020-01-14 21:49] #1477 closed

[2020-01-16 08:36] dmitry-fa commented on #1468
@kimjinwook88 Is your question answered? If not, please describe your issue in more detail.

[2020-01-19 11:20] klolo opened #1479 "Invalid code verifier"
Every time when I try exchange code to access_token i got: Invalid code verifier. I have no idea how to set it correctly, or mayby it is bug in library? Please let me know.

#### Environment details

- OS: Linux
- Java version: 1.8.0_171
- google-api-java-client version: 1.30.7

#### Steps to reproduce

[code]

#### Stacktrace

[code]

[2020-01-20 10:08] dmitry-fa commented on #1479
This problem doesn't look as java specific.  And you are not alone who experience similar problem.
This article describes several reasons which could cause: invalid_grant
https://blog.timekit.io/google-oauth-invalid-grant-nightmare-and-how-to-fix-it-9f4efaf1da35

[2020-02-03 15:40] worpet opened #1487 "Unresolvable dependency after 1.30.8"
#### Environment details
1. OS type and version: Linux
2. Java version: 8
3. google-api-client version(s): 1.30.8

#### Steps to reproduce
1. Attempt to build and resolve dependencies with Ivy.
2. Ivy fails to resolve `androidx.annotation#annotation;1.1.0`.

#### Code example

[code]

#### Stack trace
[code]

#### Any additional information below
Previous versions up to 1.30.7 build without any pr

[2020-02-09 21:46] martlin2cz commented on #1191
Further discussion here. Any news?

[2020-02-10 18:56] chingor13 commented on #1487
https://github.com/googleapis/google-api-java-client/pull/1467 looks like it introduced a dependency that exists in Google's Android Maven repository. I'm not sure that we should have taken this dependency as it seems to force all downstream users to add a Maven repository.

As a workaround, you can add `https://maven.google.com/` as an additional Maven repository in your project configuration.

[2020-02-10 19:26] elharo commented on #1487
There was a very specific bug fixed by this change. We can explore other options but I don't think requiring that repository is as bad as the bug it fixes.

[2020-02-10 20:27] chingor13 commented on #1487
This seems to be only affecting ivy and not Maven or gradle users. Please try adding the additional Maven repository url.

[2020-02-12 14:09] worpet commented on #1487
Will there be a permanent fix for this or will manually adding the additional repository be permanently required? Although Ivy is not as common as Maven, it is still a mainstream dependency manager and this is the only library we have encountered (as of 1.30.8) that fails to work "out of the box".

Our application is not used with Android, so ideally we would not be required to pull in any extra A

[2020-02-12 15:41] elharo commented on #1487
Unless we find new information, this is not a bug. The Maven repository system was always meant to be multi-repo. There is no expectation that all dependencies be loaded from Maven Central.  and it sounds like Ivy can indeed resolve this dependency with a simple modification to the build.xml or ivy-settings.xml file.

I don't know why Android chooses not to upload their artifacts to Maven Central.

[2020-02-12 15:41] #1487 closed

[2020-02-12 21:57] kilink commented on #1487
@elharo Shouldn't androidx.annotation:annotation only be a build/compile time dependency though? I don't think these annotations are needed at runtime, so consumers of google-api-java-client shouldn't need to pull in the additional dependency.

[2020-02-12 22:09] elharo commented on #1487
Java's default retention policy is CLASS, and I think that's what androidx.annotation.keep has. However, Maven doesn't have a real compileOnly dependency scope like Gradle does. compile scope in Maven is available at runtime. Perhaps we could make this provided or `<optional>true</optional>` but I'm not sure that would actually work.

[2020-02-13 12:42] eugine commented on #1487
The issue was reproduced with a gradle build after migration from 1.30.3 to 1.30.8:
`
Execution failed for task ':compileJava'.

      Required by:
          project : > com.google.apis:google-api-services-analyticsreporting:v4-rev20200210-1.30.8 > com.google.api-client:google-api-client:1.30.8`

The build can be fixed by adding 'google()` repository.

However, it's incorrect fix.

Nobody will exp

[2020-02-13 13:31] elharo commented on #1487
We're not going to remove the dependency. It's necessary to make this library work on Android, which is a requirement.

You can ask the android team to publish this artifact on Maven Central. I don't know why they don't.

[2020-02-13 16:32] worpet commented on #1487
Given that it's also necessary to make this library work on not-Android, could you at least update your installation instructions in your `README.md` to mention this additional repository dependency? For example, @eugine has confirmed Gradle is affected by this, but your Gradle instructions say only the central repository is needed:

The frustration here is that, for many build systems, the only w

[2020-02-13 16:44] rleibman commented on #1487
I would prefer not to add the dependency, but given the stuborness that the dependency must be there... may I suggest that semantic versioning is thus broken and you should definitely increase at least the minor number? Something that breaks the build should most certainly NOT be a patch only increase.

[2020-02-13 17:29] elharo commented on #1487
I am not sure this is something semver considered. There are no API changes here, at all. This change was a bug fix, nothing more. Per semver that's a patch release.

[2020-02-13 19:22] rleibman commented on #1487
Maybe not by the letter of the semver law, but the change breaks every single downstream build, and that fact is barely being acknowledged, at least a semver minor change says: "be careful, expect build to break"

[2020-02-13 21:06] elharo commented on #1487
This appears to be a [deliberate design decision in Gradle to not consider repositories declared in the pom](https://docs.gradle.org/current/userguide/declaring_repositories.html#strict_limitation_to_declared_repositories)

"Maven POM metadata can reference additional repositories. These will be ignored by Gradle, which will only use the repositories declared in the build itself.
This is a reprodu

[2020-02-13 21:28] abhishekmohite commented on #1487
Everything worked normally till ivy + 1.30.7 and now we see the mentioned issue since ivy + 1.30.8.

[2020-02-14 05:22] anuraaga commented on #1487
tl;dr Sent #1491 which I think should make everyone happy. But I see more issues here than just a POM file so let me provide some opinion.

Since this is a library for developers, shouldn't developer experience be a higher priority than philosophy regarding how maven or gradle should work? I think you'd be hard pressed to find even one other library on Maven Central that requires resolving artifac

[2020-02-14 19:44] CydeWeys commented on #1487
This is causing us problems too.  It's weird to have to pull in an additional repository considering that out of hundreds of dependencies, nothing else requires this.

[2020-02-14 22:41] elharo opened #1494 "Tighten keep rule"
See https://github.com/googleapis/google-api-java-client/pull/1491/

@justcla suggests we can tighten this rule so the class is not always retained.

[2020-02-14 22:46] justcla commented on #1494
I recommend using conditional keep-rules. These can be triggered based on the inclusion of specific annotations in the app's code base.

[2020-02-14 23:01] justcla commented on #1494
From Unofficial R8 documentation:

eg.

`-keep @KeepGoogleUtils public class com.google.api.client.googleapis.GoogleUtils`

In the example above, users who want to keep the GoogleUtils only need to include the `@KeepGoogleUtils` annotation somewhere in the app source code.

[2020-02-14 23:04] justcla commented on #1494
If you can segment parts of the library that can be kept seprately, then you can create several different annotation. For example, if your library has a Payments section and a Mapping section and a Messaging section, and the code can be cleanly separated by package name or class names, then you could have annotations like `@KeepGUtilsPayments`, `@KeepGUtilsMapping` and `@KeepGUtilsMessaging`. That

[2020-02-18 23:19] yoshi-automation opened #1496 "Synthesis failed for google-api-java-client"
Hello! Autosynth couldn't regenerate google-api-java-client. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/7769bc45-4de7-4c4e-8e43-b07e6b6eba12).

[2020-02-19 00:17] yoshi-automation commented on #1496
Autosynth passed, closing! :green_heart:

[2020-02-19 00:17] #1496 closed

[2020-03-05 20:33] elharo opened #1500 "CLIRR errors at head"
[ERROR] 7006: com.google.api.client.googleapis.extensions.android.gms.auth.GooglePlayServicesAvailabilityIOException: Return type of method 'public com.google.android.gms.auth.GoogleAuthException getCause()' has been changed to java.lang.Throwable
[ERROR] 7006: com.google.api.client.googleapis.extensions.android.gms.auth.GooglePlayServicesAvailabilityIOException: Return type of method 'public java

[2020-03-09 11:12] #1445 closed

[2020-03-11 11:17] #1479 closed

[2020-03-11 16:50] chingor13 commented on #1500
I'm not able to reproduce this. Also, `GooglePlayServicesAvailabilityIOException` has not changed since June 2017

[2020-03-13 15:13] #1466 closed

[2020-03-15 09:16] Xianguang-Zhou opened #1508 "Cannot download files by Google Drive API."
#### Environment details

1. API: Google Drive API
2. OS type: Linux
3. Java version: Java 12
4. google-api-client version: 1.30.9

#### Steps to reproduce

  1. git clone --depth=1 https://github.com/Xianguang-Zhou/gdrive-downloader.git
  2. cd gdrive-downloader
  3. mvn package
  4. Open browser, go to "[https://developers.google.com/drive/api/v3/quickstart/java#step_1_turn_on_the](https://devel

[2020-03-18 12:20] #1508 closed

[2020-03-21 02:26] salqadri commented on #1487
Please fix this issue. I have many many dependencies, and have never had to add another repository, and we will not be adding anything more to our scala project other than the default one. As such, we are not able to upgrade to the latest google java apis. Why was this issue closed?

[2020-03-21 03:23] chingor13 commented on #1487
This was fixed in 1.30.9

[2020-03-21 12:05] Stekeblad opened #1511 "Add Revoke Access Token Feature to the API"
According to section III.D.2.c in the [YouTube API Services - Developer Policies](https://developers.google.com/youtube/terms/developer-policies) a program that uses the API must be able to **programmatically revoke the access token** to a user's channel. However, I am not able to find support for revoking access using the API. It took me a long time to find any documentation that shows how it can

[2020-03-22 13:43] kirandongare commented on #1387
@chingor13 Can you please help me here?

java.lang.NoSuchMethodError: com.google.api.client.http.HttpRequest.setResponseReturnRawInputStream(Z)Lcom/google/api/client/http/HttpRequest;
	at com.google.api.client.googleapis.services.AbstractGoogleClientRequest.buildHttpRequest(AbstractGoogleClientRequest.java:435)
	at com.google.api.client.googleapis.services.AbstractGoogleClientRequest.executeUnpars

[2020-04-02 23:33] rvaidya commented on #1387
I am also getting the above exception - google-api-client is up to date.  These dependencies are explicitly defined in my pom.xml and I'm still getting the above error.

[code]

[2020-04-05 12:15] tobingj commented on #1403
Looks like setAudience(Collections.singletonList(clientId)) is broken. Comment this code to verify the token. For example,
GoogleIdTokenVerifier verifier = new GoogleIdTokenVerifier.Builder(transport, jsonFactory)
				// Specify the CLIENT_ID of the app that accesses the backend:
				.setIssuer("accounts.google.com")
				//.setAudience(Arrays.asList(clientId))
				// Or, if multiple clients access

[2020-04-10 05:41] yoshi-automation opened #1514 "Synthesis failed for google-api-java-client"
Hello! Autosynth couldn't regenerate google-api-java-client. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d6bf982d-3f70-479b-8cc3-60d7907932a0).

[2020-04-10 11:58] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3e0d7b4d-ef64-4c6c-978d-916ae4a2ef67).

[2020-04-10 23:54] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/2199de62-d08f-4d9a-b5f9-79283dc72e9d).

[2020-04-11 10:35] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/00df40bc-8079-40d0-a3a2-c39288e9e6b6).

[2020-04-11 23:16] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/e2744014-88c8-4278-a0e3-6d2a6545d2bf).

[2020-04-12 10:26] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/38d76fd3-9914-404b-b7fe-d9639e4e3a10).

[2020-04-12 23:19] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/298a328e-e192-4c4b-ba8e-3b5943a52ab1).

[2020-04-13 10:22] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/aa57b2a5-4126-4493-858d-9eb534501057).

[2020-04-13 11:38] ryu1kn commented on #885
I was looking for a sample and didn't find it here; so I wrote one on my blog, in case anyone wants to have a look: https://blog.ryuichi.io/2020/04/use-blogger-api-from-its-java-client.html

[2020-04-15 16:45] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3930c29c-65aa-4232-b9ca-0366c86bf9f7).

[2020-04-16 14:23] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/01a7440e-1f0c-4d68-a4a7-71ae1d8c3c3a).

[2020-04-17 00:45] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8d46b7af-66f2-4e32-890b-a822db466852).

[2020-04-17 11:04] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/73acaa15-5a29-4a7c-8e53-614c4025c959).

[2020-04-18 02:23] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/267d9a23-a1fc-4997-89ff-373cfc5414f5).

[2020-04-18 10:16] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ee3d0fb1-ccd2-40f7-b8c7-39754c344e79).

[2020-04-18 23:16] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/aec952c4-3906-45b2-b1d3-35f505ef0566).

[2020-04-19 10:10] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/7f5e3251-f969-477e-a9df-342576662676).

[2020-04-19 23:12] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/07f193a1-c783-4214-93fc-57a21c0e67ef).

[2020-04-20 10:29] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/2d17f713-0a4e-4a46-b8c6-001eae3f8195).

[2020-04-21 00:25] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/1c84af50-9aa2-4fc6-bdbf-c12d2ad27edb).

[2020-04-21 11:04] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/78c67420-74ca-4c4a-bcd2-7495b81f4a77).

[2020-04-21 18:50] KyleJamesWalker commented on #1082
@cemo

The only issue with this is it doesn't support nested groups 😢

[2020-04-22 00:10] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/76484510-5e4b-4c1f-8605-f3c790d6fec2).

[2020-04-22 10:44] yoshi-automation commented on #1514
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a1ac9c63-a100-4aaa-9c7d-46002a362db0).

[2020-04-22 16:32] #1514 closed

[2020-04-22 16:51] codyoss commented on #1403
I have tried to reproduce this on master, but was unsuccessful. Closing for now. If you are still having issues please reopen with more details. Thanks.

[2020-04-22 16:51] #1403 closed

[2020-05-08 22:57] prateek13688 opened #1524 "500 Internal Server Error received while getting the records using the google reporting service."
I am using the google reporting service to fetch the gsuite logs.
When I am fetching the logs after setting the next page token received in the previous response, I get an internal server error.

**Code Snippet:**
Reports.Activities.List activityList = reportsService.activities().list(USER_KEY, googleReportType.name())
                .setStartTime(startGoogleTime.toStringRfc3339())

[2020-05-15 00:47] chingor13 opened #1525 "Synthesis failed for google-api-java-client"
Hello! Autosynth couldn't regenerate google-api-java-client. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/None).

[2020-05-15 01:00] yoshi-automation commented on #1525
Autosynth passed, closing! :green_heart:

[2020-05-15 01:00] #1525 closed

[2020-05-15 09:52] lingyun-zhu opened #1526 "java.io.IOException: Error writing request body to server(google1.34.2)"
Caused by: java.io.IOException: Error writing request body to server
    at sun.net.www.protocol.http.HttpURLConnection$StreamingOutputStream.checkError(HttpURLConnection.java:3593)
    at sun.net.www.protocol.http.HttpURLConnection$StreamingOutputStream.write(HttpURLConnection.java:3576)
    at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
    at java.io.BufferedOutputStr

[2020-05-15 10:01] lingyun-zhu commented on #1526
at com.google.api.client.util.ByteStreams.copy(ByteStreams.java:53)

at com.google.api.client.googleapis.media.MediaHttpUploader.executeCurrentRequestWithoutGZip(MediaHttpUploader.java:551)

It seems that something went wrong.The problem with googleapi like this, (this time is MediaHttpUploader) Is there any solution to the problem?

[2020-05-18 08:59] lingyun-zhu commented on #1524
related problem:https://stackoverflow.com/questions/50019241/google-cloud-storage-throwing-error-for-multiple-large-file-uploads-concurrently

[2020-05-18 18:55] andrewring opened #1528 "User get list types return Object (directory_v1-rev118-1.25.0)"
In directory_v1-rev118-1.25.0 (and it appears many previous versions) methods on User objects which should return lists, instead return Object ([see API docs](https://developers.google.com/resources/api-libraries/documentation/admin/directory_v1/java/latest/com/google/api/services/admin/directory/model/User.html)). List object types, such as UserAddress exist in the library, and should be used in

[2020-05-21 07:20] melvzgungog214 commented on #1403
@codyoss I encountered same issue as this. I used google-api-client-1.30.9.jar. Please help me. I need to fix this ASAP.

[2020-05-21 07:23] melvzgungog214 commented on #1403
@codyoss In frontend side, it's working fine but the problem is on verifying the id token. This is my code:

if (StringUtils.isNotBlank(idtoken) && idtoken != null) {
            GoogleIdTokenVerifier verifier = new GoogleIdTokenVerifier.Builder(new NetHttpTransport(), new JacksonFactory())
                    .setAudience(Collections.singletonList(GOOGLE_CLIENT_ID))
                    .build();

[2020-05-21 08:11] melvzgungog214 opened #1529 "Google backend authenticate failure, base64 decoding fails at GoogleIdTokenVerifier.verify"
**Environment details**

1. OS type and version: MACOS Catalina
2. Java version: openjdk version "1.8.0_242"
3. google-api-client version(s): 1.30.9
4. play-1.4.6

**Steps to reproduce**
1. Follow steps in https://developers.google.com/identity/sign-in/web/backend-auth
2. On backend: GoogleIdToken idToken = verifier.verify(idtoken); cause issue

**Code example**
[code]

**Stack trace**
verifier.ve

[2020-05-21 08:12] melvzgungog214 commented on #1403
@codyoss I created separate issue of this and it is under https://github.com/googleapis/google-api-java-client/issues/1529

[2020-05-21 22:52] chingor13 commented on #1526
Can you help add a snippet of code that is causing this?

[2020-05-22 05:27] lingyun-zhu commented on #1526
@chingor13
 Thank you for your prompt reply.
I tried with the following code to upload file to Google Drive by use inputStream.
The result is successful upload in most cases，but occasionally failed with
java.io.IOException: Error writing request body to server.
it seems like this issue [google-cloud-java:StorageException: Error writing request body to server #3410](https://github.com/googleapis/go

[2020-05-26 20:25] danoscarmike commented on #1528
@andrewring thanks for reaching out. This seems strange but possibly due to some constraint in the client generator. I'll try to poke around and see what's possible.

[2020-06-03 17:42] #1434 closed

[2020-06-05 02:00] Code2Life opened #1532 "Is there any way to watch vacation settings changes of gmail settings ?"
I'm developing an app to sync user's status, so I want to get realtime OOO state (Out Of Office).
Besides OOO calendar event, gmail users can set vacation/autoReply, I know there is a nice API to fetch this setting ([https://developers.google.com/gmail/api/v1/reference/users/settings/getVacation](https://developers.google.com/gmail/api/v1/reference/users/settings/getVacation)), but how could I get

[2020-06-05 02:02] Code2Life commented on #1532
![image](https://user-images.githubusercontent.com/14833440/83828539-7c4f2400-a713-11ea-9936-d74efbb1f164.png)

I didn't found how to watch this setting in Google API documents, could this be possible?

[2020-06-11 12:08] hari1692 opened #1533 "Need help with License Manager API"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.
I contacted support yet they redirected me here. I need help in writing java code using google client library for License Manager api.

[2020-06-11 14:18] chingor13 commented on #1532
To my knowledge, there is no such built-in change listener for this field.

[2020-06-11 14:21] chingor13 commented on #1533
If you have an actual question, we can try to help here.

If you do in fact have a support contract, then a customer engineer can help walk through examples.

[2020-06-11 14:21] #1533 closed

[2020-06-11 14:34] hari1692 commented on #1533
I need help in writing java code using google client library for License Manager api.

[2020-06-11 14:34] hari1692 commented on #1533
I need help in writing java code using google client library for License Manager api.

[2020-06-12 11:21] 291277058 opened #1534 "NoSuchMethodError ByteStreams.exhaust"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2020-06-12 11:26] 291277058 commented on #1534
version 1.29.3 is work

[2020-06-16 06:49] KSVarun opened #1535 "After deleting an event, get() call is being successful"
#### Environment details

1. Google calendar API
2. OS type and version: Mac OS
3. Java version: 1.8
4. google-api-client version(s): 1.30.9

#### Steps to reproduce

  1. Create an event with `Event event = service.events().insert(calendarId, event).execute();`
  2. Delete the event with `service.events().delete(calendarId, event.getId()).execute();`
  3. Get the event with `event = service.event

[2020-06-17 04:35] Code2Life commented on #1532
Gotcha, thanks a lot.

[2020-06-17 04:35] #1532 closed

[2020-06-17 06:17] KSVarun commented on #1535
It seems deleting an event won't actually delete the event but just tags it as cancelled. Hence when we do a get call we will be able to fetch the event.

Correct me if am wrong.

[2020-06-22 07:45] Raghuram0704 opened #1537 "Socket timout exception"
Thanks for stopping by to let us know something could be better!

Please be sure to include as much information as possible:

#### Environment details

- OS: linux
- Java version: 1.8
- google-api-java-client version:1.30.2

#### Steps to reproduce

1.  After intitializing Sheets
public Sheets getSheetsService() throws GeneralSecurityException, IOException {
	Credential credential =  getCredential

[2020-06-22 10:59] hari1692 opened #1538 "i'm struck on create request for the method "licenseAssignments.get""
Thanks for stopping by to let us know something could be better!

Please be sure to include as much information as possible:

#### Environment details

- OS:mac
- Java version:8
- google-api-java-client version:

#### Steps to reproduce

1. Can someone help me get user's license by product SKU?
I'm trying to create request for license assignments but not able to understand how to implement it.

##

[2020-06-24 08:35] alipov opened #1539 "Integrating google-api-client-android library in Android project causes lint errors"
#### Environment details

1. General
2. OS type and version: any
3. Java version: any
4. google-api-client version(s): latest (1.30.9)

#### Steps to reproduce

  1. Add `com.google.api-client:google-api-client-android:1.30.9` as dependency to an Android project.
  2. Try to build a release version.

#### Code example

Official [googlesamples repository](https://github.com/googlesamples/google-ser

[2020-06-24 10:27] Code2Life opened #1540 "How to make backend server of a Google OAuth client receive “Remove Access” event or other events such as “Account Disabled”, “Token Revoked”"
I'm developing a backend service using Google OAuth Clients id/secrets, I don't how to know when refreshToken is revoked, and when the user's account is disabled/enabled.

There is a document of integration of RISC event push notifications. https://developers.google.com/identity/protocols/risc#auth_token

but it doesn't mention how OAuth App uses it, I didn't find documents about how to generate J

[2020-06-25 11:19] suraj-qlogic commented on #1534
@291277058 ,Thanks for submitting issue.Can you please share a source code along with ```pom.xml``` file.

[2020-06-28 01:05] Code2Life commented on #1540
![image](https://user-images.githubusercontent.com/14833440/85935003-e6777500-b91d-11ea-8a07-8492b2786c4d.png)

btw, what does this mean ? does it mean no way to get push notifications of gmail/gcalendar OAuth token revoke?

huge thanks to someone who would like to answer this, Google API documents of RISC API seems to be not very clear.

[2020-06-28 03:04] 291277058 commented on #1534
`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-

[2020-06-29 21:34] yoshi-automation opened #1543 "Synthesis failed for google-api-java-client"
Hello! Autosynth couldn't regenerate google-api-java-client. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/2e2af012-7d46-45a9-9790-2acbfe2ab896/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-06-30 08:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/af3f101c-95bc-4779-bb24-a1b6ea1842ea/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-06-30 10:29] hari1692 commented on #1538
It's been a week. Can someone help me out?

[2020-06-30 15:20] alipov commented on #1539
I've browsed the sources of this repository, and found that the only place where `org.apache.*` classes or `google-http-client`'s `com.google.api.client.http.apache.*` classes are being used is in `GoogleApacheHttpTransport` class - which is not being consumed in library's code.

For instantiating transport, `Utils.getDefaultTransport()` is being used - which creates an instance of `NetHttpTranspo

[2020-06-30 21:36] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/064d885f-e246-4a73-93ae-61c4d27d9d17/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-01 07:11] hari1692 commented on #1538
@chingor13 can you or someone help me out?

[2020-07-01 08:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/b53d2c2a-fda1-4a85-a3d8-dba91b663889/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-01 21:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/8f9b2ee6-9eab-4b87-867c-98d5f8fc5313/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-02 08:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/4ca920bc-93a2-47e1-82cb-e2726d376e7a/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-02 10:22] suraj-qlogic commented on #1534
@291277058 , ```exhaust()``` method of class ```com.google.common.io.ByteStreams``` available in ```guava``` client libarary and when using ```google-api-client 1.30.9```  version it's uses ```guava:jar:28.2``` version but's according to ```pom.xml``` configuration it's use ```guava:22.0``` version from ```nacos-client:1.2.1```,which is also contain ```exhaust()``` method because it's available si

[2020-07-02 21:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/924dc30a-4d68-41cb-9955-faced2a5ea49/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-03 07:57] 291277058 commented on #1534
Thanks, now I am clear.

[2020-07-03 08:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/fb9759e4-26ce-4470-b984-f37c1e6ef1a2/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-03 21:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/97c9da19-04fb-480c-8fac-c72d90a592a7/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-04 08:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/0c8b112d-b2d4-4c18-aeee-2e028e08cd8c/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-04 21:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/222cbcc1-e4bd-4cd8-9e78-11b9f1e97cf9/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-05 08:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/b1a991ee-cb9e-4794-9390-01f6f53610dd/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-05 21:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/47f4d271-f727-41fb-b026-f169657855e2/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-06 08:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/0dd008b8-1daf-4862-a402-59299db3437b/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-06 21:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/2172df15-42fb-4ea2-9939-61316a413093/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-07 08:33] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/f1c80f67-23c0-4556-8f0a-ae1347d5a9f3/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-07 16:18] llbrt opened #1548 "Issue with Jetty on empty content POST/PUT/PATCH (consider disabling gzip all the time)"
When a HTTP request has an empty content (no payload) for a POST/PUT/PATCH, a Jetty server fails with the following stack for a client request created by this API with the default parameters:
[code]
It fails to analyse parameters because the content-size is not set and the headers are not consistent. Here are the default headers:
[code]
On a previous version of this lib, the Content-Size was set t

[2020-07-07 21:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/58020715-0b4b-44c4-95c1-cbec2e342b42/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-08 04:51] suraj-qlogic commented on #1534
Hi @291277058 ,

Closing issue given this information. Please feel free to reopen if this did not answer your question.

[2020-07-08 04:51] #1534 closed

[2020-07-08 08:34] yoshi-automation commented on #1543
Autosynth is still having trouble generating google-api-java-client. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a58f9951-d63f-495b-a949-f8d02a497036/targets/github%2Fsynthtool;config=default/tests;query=google-api-java-client;failed=false).

[2020-07-08 19:38] #1543 closed

[2020-07-09 01:00] failure-checker[bot] opened #1553 "Warning: a recent release failed"
The release PR #1501 is still in a pending state after several hours

[2020-07-09 05:33] #1540 closed

[2020-07-14 15:38] chingor13 commented on #1382
In com.google.http-client:google-http-client-android [v1.36.0](https://github.com/googleapis/google-http-java-client/releases/tag/v1.36.0) we added back an Android-compatible `FileDataStoreFactory`

[2020-07-14 15:38] #1382 closed

[2020-08-12 04:20] #1553 closed

[2020-08-16 20:56] alkutsy opened #1564 "Batch request Gmail"
Hello there,

According this page https://developers.googleblog.com/2018/03/discontinuing-support-for-json-rpc-and.html batch endpoints was stopped working.

Is it possible to send batch request now?

OS: Ubuntu Linux
Java version:  Open JDK 8
google-api-client version(s): 1.30.10

#### Code example

[code]

#### Stack trace
[code]

#### External references such as API reference guides
https://goo

[2020-08-16 21:57] chingor13 commented on #1564
Thanks for filing this. What version of the google-api-services-gmail are you using?

[2020-08-17 09:41] alkutsy commented on #1564
Hi @chingor13,

That was my fault I forgot to update version for Gmail. With the latest version it is working as expected.

Many thanks, ticket can be closed.

BR, A

[2020-08-17 09:41] #1564 closed

[2020-08-29 00:34] trudeaua21 opened #1570 "GoogleNetHttpTransport errors on Android - results in JKS not found exception"
#### Environment details

1. General
2. OS type and version: Windows 10, v2004
3. Java version: 8
4. google-api-client version(s): 1.30.9

#### Steps to reproduce

1. Add `com.google.api-client:google-api-client-android:1.30.9` as dependency to an Android Studio project using Gradle
2. Add the following code to the `android` field in the app-level `build.gradle` file (this is a fix for a separate

[2020-08-31 10:31] ikseo opened #1571 "404 on every call through BatchRequest"
I get 404 ("Response status code does not indicate success: 404 (Not Found).") on every call through BatchRequest.

I saw https://developers.googleblog.com/2018/03/discontinuing-support-for-json-rpc-and.html.

Global HTTP Batch Endpoints (www.googleapis.com/batch) is deprecated.

okay.

My source change HTTP Batch Endpoints(https://www.googleapis.com/batch/youtube/v3)

Uhm....

But on every call I

[2020-08-31 22:00] gshahbazian opened #1573 "General, Gmail: BatchRequest for 25 gmail threads is very slow"
#### Environment details

2. OS type and version: Android 30
3. Java version: 8, kotlin 1.4.0
4. google-api-client version(s): 1.30.10

#### Steps to reproduce

Use the BatchRequest class to fetch 25 threads from Gmail

#### Code example

[code]

#### Stack trace
Pausing the debugger while batches are being returned pauses here:
https://github.com/googleapis/google-api-java-client/blob/ce22c0ea7d0

[2020-09-02 01:47] gshahbazian commented on #1573
I've tracked this down further. The degraded performance occurs when the response is gzipped and the request `getContent()` returns a `GZIPInputStream`. Accessing this stream type byte by byte to separate each batched response is extremely slow.

Locally I've added a workaround which reads the entire stream upfront and passes a simple `ByteArrayInputStream` to `BatchUnparsedResponse`.

[2020-09-16 12:43] willnix86 commented on #1570
+1 for this!

[2020-10-04 19:22] bgolson2309 commented on #1529
Is there a workaround, or recommended version to revert to?

[2020-10-07 11:09] nivs opened #1596 "General: Null values in responses are converted to empty strings or zeros"
I am using the general `google-api-java-client` to access a service.

When the response returns `null` for String or Integer fields, the value returned from the API Client is an empty String or `0`.
I am expecting the return value to be `null` in such cases, to be able to differentiate between responses that could either return `0` or `null`.

### Environment

Java version: JDK11
google-api-client

[2020-10-12 20:43] chingor13 commented on #1596
After some investigation, this is happening in the underlying JSON deserialization in google-http-client.

[2020-10-14 00:00] failure-checker[bot] opened #1602 "Warning: a recent release failed"
The release PR #1579 is still in a pending state after several hours

[2020-10-24 07:41] pradyum619 commented on #1381
Is the issue resolved? if yes please share the solution, I am facing the same issue, can't get the next 10 items in the search endpoint.

[2020-11-05 06:41] santhosh12992 opened #1626 "I like to create and delete gmail for my work domain using the java client."
Hi,

I need to create and delete the email account (gmail enterprise account).
I have searched a lot and not able to find simple java code which uses this client code for gmail account creation and deletion.
Can you please point me some examples.

Thanks.

[2020-11-10 20:33] dmytr0 opened #1628 "Could not insert event with Bad request"
I want to create Event in calendar with such code
[code]

        DateTime startDateTime =  new DateTime("2020-11-10T00:20:50.52Z");;
        EventDateTime start = new EventDateTime()
                .setDate(startDateTime)
                .setTimeZone("Europe/Kiev");
        event.setStart(start);
        DateTime endDateTime = new DateTime("2020-11-10T23:20:50.52Z");
        EventDateTime end =

[2020-11-11 00:06] #1602 closed

[2020-11-17 18:08] chingor13 commented on #1529
You may need to verify that the token you are validating is actually an ID token (it will be a JWT which can be decoded - an example decoder is https://jwt.io/).

You might also want to try the newer, supported version in `com.google.auth:google-auth-library`: https://cloud.google.com/iap/docs/signed-headers-howto#iap_validate_jwt-java

[2020-11-24 00:48] jed204 opened #1648 "Precondition check failed"
We are getting a '400 Bad Request' response from the Gmail API for a single user. The error message doesn't provide a lot of information. The user has been authenticated by OAuth and we are sending from 'me'. This works for all other users across different companies/domains and at this point we've only seen this with this single user, here is the error message we get:

[code]

Here's how we are se

[2020-11-25 17:46] Neenu1995 commented on #1648
The team that manages the Gmail API will be able to provide more information on the issue. Try contacting them here :
https://developers.google.com/gmail/api/support

[2020-12-07 22:54] #1468 closed

[2020-12-10 17:34] chingor13 commented on #1366
We also need to update the sample code to use the non-deprecated version.

[2020-12-14 22:04] #1366 closed

[2020-12-22 17:31] chingor13 commented on #1539
Sorry for the late reply, I updated the developers.google.com install snippet to include the exclusion.

[2020-12-22 17:31] #1539 closed

[2020-12-23 20:09] #1500 closed

[2020-12-23 20:34] chingor13 commented on #1428
We've including JWT verification into the [google-auth-library](https://github.com/googleapis/google-auth-library-java#verifying-jwt-tokens-beta) which is the preferred method for handling authentication for these clients. It should be able to handle ES256 and RS256 signatures (Google Federated Auth and IAP).

[2020-12-23 20:34] #1428 closed

[2021-01-22 12:39] mahichachra opened #1672 "Server Error and nullpointerException in the cloud function"
The same code snippet is giving output in my local but when i have deployed the same as a cloud function which is using kubernetes client library which is using listNode method present in the CoreApi class i am getting nullpointerexception in BackgroundFunctionExecutor class and server error as well. In the below snippet i am able to print "Entered fetch" but after that i am getting error;

1. i a

[2021-01-22 17:35] chingor13 commented on #1672
This isn't the right repository for this issue. You might try refiling this issue: https://github.com/kubernetes-client/java

[2021-01-22 17:35] #1672 closed

[2021-02-01 18:45] mikebell90 commented on #947
@JustinBeckwith not sure why you are assigning me a long closed ticket, even though I did open it ;l)

[2021-02-01 22:11] loosebazooka commented on #1046
This is closed? Also I'm not even sure what the context of this is.

[2021-02-01 22:53] loosebazooka commented on #1046
If you want to assign this to someone. Open it and add a reason.

[2021-02-02 19:32] myana-mahesh commented on #1387
if you found solution  of this problem then please  let me know

[2021-02-03 06:10] kirandongare commented on #1387
It's because of the old or some other JAR conflicts. I have removed that
JAR's from the project and then it's working fine.
Kiran Dongare
Software Engineer
+91 7588195932

Join us live for *Work@Life*, your ultimate guide to the Employee
Experience. Tuesday @ 1:00 PM ET Subscribe here!
<https://www.youtube.com/playlist?list=PLEskC-4J0V-_XyIksPlWtQrvK47y8uDgl>

*Live with Dan* shares his unfiltered

[2021-02-04 16:21] myana-mahesh commented on #1119
hey did you found the solution for this problem?
I'm facing the same problem it console logs: Please open this url in your browser,
but i want it to open browser automatically

[2021-02-04 16:24] myana-mahesh commented on #1387
thank you so much
i also had same issue

[2021-02-05 19:41] suztomo opened #1686 "google-api-client-bom should specify type pom for google-api-client-assembly"
For https://github.com/googleapis/java-shared-dependencies/issues/269, I tried the Linkage Checker Enforcer Rule, but it could not run on the shared-dependencies BOM, because it tried to download com.google.api-client:google-api-client-assembly:**jar**:1.31.2. The shared dependencies BOM imports google-api-client-bom.

https://repo1.maven.org/maven2/com/google/api-client/google-api-client-assembly

[2021-02-08 06:23] sujeeshskn opened #1689 "404 error while accessing client json file from php client library"
Hi,

I am developing web application for accessing google reviews by using google my business API. My programming language is PHP.
PHP client library used for getting account information. But when accessing google credential.json file from php client library, I am facing 404 error. Initially json file was placed incode library folder in same location where accessing it. Same error was there.

So I

[2021-02-08 20:36] suztomo opened #1691 "GitHub CI of this repository is failing"
<img width="1103" alt="Screen Shot 2021-02-08 at 15 29 58" src="https://user-images.githubusercontent.com/28604/107278089-50fba200-6a23-11eb-8250-02eecdfb1517.png">

[code]

https://github.com/googleapis/google-api-java-client/blob/master/.github/workflows/ci.yaml was last touched in July 2020. Why was it fine (e.g., [PR#1675](https://github.com/googleapis/google-api-java-client/pull/1675#partial-

[2021-02-09 16:54] suztomo commented on #1691
But the .github/workflows/ci.yaml is a template-generated file.

https://github.com/googleapis/google-api-java-client/pull/1695 fixes the "lint" job.

[2021-02-09 22:12] suztomo opened #1697 "GitHub Actions: Fix formatting check failure"
Part of #1691.

[2021-02-10 15:35] suztomo opened #1700 "GitHub Actions: "samples / checkstyle" is failing"
Part of https://github.com/googleapis/google-api-java-client/issues/1691.

<img width="900" alt="Screen Shot 2021-02-10 at 10 37 01" src="https://user-images.githubusercontent.com/28604/107532453-eade5e80-6b8b-11eb-9993-5199309f9b21.png">

[code]

The commands below reproduces the error message:

[code]

# Failure
Usually, the sample/snippet directory holds a project that uses the libraries-bom. E

[2021-02-10 15:49] #1697 closed

[2021-02-10 18:11] #1700 closed

[2021-02-10 18:14] chingor13 commented on #1691
We recently turned on GitHub actions in this repository. They are not required checks at this time.

For the google-play-services jar, this was [installed in the docker image](https://github.com/googleapis/testing-infra-docker/blob/5e2e57e54185e12ac15acc1d7a47569846b38971/java/java8/Dockerfile#L39-L48). At the time, the google-play-services was not available on Maven Central (it may be now)

[2021-02-10 20:43] suztomo commented on #1691
Thanks. That explains why it was working fine until last week.

I still don't see the artifact available in Maven Central.  (There's an artifact somebody uploaded as `com.jdroidframework:google-play-services:0.6.0`)

<img width="1013" alt="Screen Shot 2021-02-10 at 15 39 27" src="https://user-images.githubusercontent.com/28604/107569316-2beb6880-6bb6-11eb-8344-c9bfeb73289e.png">

Yesterday I commi

[2021-02-10 21:42] suztomo opened #1702 "GitHub CI: "ci / dependencies" is failing"
part of #1691 . The "ci / dependencies" jobs are failing for both Java 8 and Java 11.

<img width="643" alt="Screen Shot 2021-02-10 at 16 41 24" src="https://user-images.githubusercontent.com/28604/107576199-d23b6c00-6bbe-11eb-832d-638d65a75e6a.png">

# How to reproduce?

[code]

The commit message for commons-coded is https://codereview.appspot.com/6112058/ , it does not tell why the commit added

[2021-02-11 16:24] #1702 closed

[2021-02-11 18:26] suztomo opened #1705 "Fix "ci / windows" GitHub check"
For https://github.com/googleapis/google-api-java-client/issues/1691.

<img width="478" alt="Screen Shot 2021-02-11 at 13 26 30" src="https://user-images.githubusercontent.com/28604/107681195-c1e1ca80-6c6c-11eb-9715-2af00bf330d4.png">

# Log

https://github.com/googleapis/google-api-java-client/pull/1688/checks?check_run_id=1844093318

[code]

Should we run wget or curl in the Windows environment?

[2021-02-12 14:17] #1705 closed

[2021-02-12 15:06] suztomo commented on #1691
@chingor13 I committed the recent PRs to fix the GitHub Actions checks. Now they succeeds.

<img width="544" alt="Screen Shot 2021-02-12 at 10 03 54" src="https://user-images.githubusercontent.com/28604/107784579-9f59bb00-6d19-11eb-9c74-38e6d1f6978b.png">

[2021-02-12 15:06] #1691 closed

[2021-02-13 14:20] #1686 closed

[2021-02-16 18:10] #1648 closed

[2021-02-16 18:11] elharo commented on #1626
Not this repo

[2021-02-16 18:11] #1626 closed

[2021-02-16 20:02] frankleedoe commented on #1570
+1

[2021-02-18 22:48] suztomo opened #1720 "How can we move .github/workflows/ci.yaml back to synthtool's template?"
As synthtool's template does not call `.kokoro/install_dependencies.sh `, I had to exclude ci.yaml from synthtool's management: https://github.com/googleapis/google-api-java-client/pull/1699/files#diff-c881f5091bb23fef16e6e6da031e4268bbb11bb3404c1a2c7da8afa53c26f4ecL32.

# What's missing in synthtool's template

## install_dependencies is not called.

How about the following options?

- build.sh t

[2021-02-19 21:12] vnorigoog opened #1724 "Add API to set/validate End-to-End Checksum"
To Support Silent Data Corruption Detection (SDC), Google services support end-to-end Checksum.
Add API + library to allow client libs to set/validate end-to-end checksum

More info about SDC:
================
Undetected software bugs and CPU defects can corrupt or destroy critical Google and customer data. Such “Silent Data Corruption” (SDC) is the focus of GCP Reliability Efforts and of intense

[2021-02-19 21:20] vnorigoog commented on #1724
How will this API be used
====================
By Java Http Clients to add checksum to the requests and to validate checksum on the responses received.

Do we have specific data on bugs caused by memory corruption
=================================================
Short answer: No
But memory corruption bugs are inherently impossible to attribute to a specific root cause.
Checksum is a widely used m

[2021-02-19 21:25] vnorigoog commented on #1724
Question: Why TLS and other layers don't catch it.
===========================================================
Our E2E checksum solution is designed to be end-to-end in GCP: from Client to the Google Backend Service thru all intermediate points w/in google, who can (and some will) verify the checksum and reject the request/response if checksum is invalid.

[2021-02-19 21:33] elharo commented on #1724
1. Detailed, non-hypothetical examples needed. What are the endpoints?
2. What is checksummed and how? That is, how does the wire format change?
      2a. How do you guarantee backwards compatibility with non-checksummed data?
3. What happens when a checksum doesn't match? Retry? Silently discard?
4. In what part of the pipeline is data corrupted? What does this add on top of existing mechanisms t

[2021-03-02 00:05] chingor13 commented on #1570
`GoogleNetHttpTransport.newTrustedTransport()` and `GoogleApacheHttpTransport.newTrustedTransport()` do not work on Android. The aim of those 2 implementations is to add extra SSL verification that the endpoint you are reaching is indeed a Google one. Unfortunately, these public keys are stored in a JKS format the the Android SDK does not have built-in support for parsing JKS keystores.

Please in

[2021-03-02 01:08] chingor13 commented on #1570
Looks like we might be able to fix this by repackaging the keystore into a format that Android [can read natively](https://developer.android.com/reference/java/security/KeyStore)

[2021-03-02 18:38] chingor13 commented on #1573
It looks like we originally did not use a BufferedReader because it does not handle all of HTTP RFC 2616. We also don't want to read the entire response upfront as that could blow our memory usage given a huge response.

We will likely want to add buffering to the current implementation to reduce the number of direct reads from the GZipInputStream while limiting memory usage.

[2021-03-03 20:43] #1724 closed

[2021-03-10 19:54] #1570 closed

[2021-03-10 21:02] chingor13 commented on #1114
google-http-client add support for customer supplied certificates (mTLS) in [1.38.0](https://github.com/googleapis/google-http-java-client/releases/tag/v1.38.0).

An example of using custom proxies: https://github.com/googleapis/google-auth-library-java#configuring-a-proxy

[2021-03-10 21:02] #1114 closed

[2021-03-11 12:24] goxr3plus commented on #1119
@myana-mahesh  Sorry it's been time i don't even remember if i found the solution lot of stuff has changed since then :)

[2021-03-12 18:32] myana-mahesh commented on #1119
No problem.
I found the solution, it occurred because of headless system of spring boot

[2021-03-18 15:30] #1573 closed

[2021-03-23 18:43] plaidshirtakos opened #1753 "java.lang.NoSuchMethodError: com.google.api.client.http.HttpRequest.setResponseReturnRawInputStream(Z)Lcom/google/api/client/http/HttpRequest"
I got following error during execution of Quickstart: https://developers.google.com/gmail/api/quickstart/java

`java.lang.NoSuchMethodError: com.google.api.client.http.HttpRequest.setResponseReturnRawInputStream(Z)Lcom/google/api/client/http/HttpRequest`

I have imported following dependencies:
[code]

[2021-03-24 16:53] chingor13 commented on #1753
[HttpRequest.setResponseReturnRawInputStream](https://googleapis.dev/java/google-http-client/latest/com/google/api/client/http/HttpRequest.html#setResponseReturnRawInputStream-boolean-) was introduced in google-http-client 1.29.0. Your current dependencies use 1.27.0.

The dependency tree for any single one of our artifacts should be correct at that point, so the dependency resolution is causing y

[2021-03-25 09:49] plaidshirtakos commented on #1753
@chingor13 : I just updated following dependencies: google-http-client-1.39.1 and google-http-client-jackson2-1.39.1, but problem still persists.

[2021-03-29 07:48] #1753 closed

[2021-03-29 09:59] plaidshirtakos opened #1755 "Unable to execute GmailQuickStart in Katalon Studio"
I try to use this article: https://developers.google.com/gmail/api/quickstart/java. Following jars are imported:
[code]
Exception is occured during execution, after authentication:
[code]

[2021-03-29 17:51] Neenu1995 commented on #1755
This issue is duplicate of #1753

How are you importing these particular versions of the dependencies in the project? The information currently provided is not enough to debug the issue properly.

That said, this looks like a dependency issue. Checking the dependency tree can give a clearer understanding of the error. Refer [this](https://github.com/googleapis/google-cloud-java/blob/master/TROUBLE

[2021-03-30 09:25] plaidshirtakos commented on #1755
Thanks, I found the problem in the meantime. Katalon Studio uses also this package, but version 1.22.0. So method is resolved from that package, but it was introduced in later version. So problem is caused by KS in that case.

[2021-04-12 10:06] ZChen143 commented on #1119
Could you share the solution, I met the same problem.

[2021-04-12 10:07] ZChen143 commented on #1119
Could you share the solution, I met the same problem.

[2021-04-12 10:53] myana-mahesh commented on #1119
problem occurred because of headless system of spring boot,
headless system's can't open browser
so use this below code to set headless false in spring boot

public static void main(String[] args) {
    SpringApplicationBuilder builder = new SpringApplicationBuilder(App.class);
    builder.headless(false).run(args);
  }

[2021-04-12 13:43] ZChen143 commented on #1119
Thank you very much, very helpful!

[2021-04-13 03:31] junhoi-pk opened #1767 "After updating to version (1.31.4), a CPU problem occurred."
#### Environment details

1. Specify the API at the beginning of the title. For example, "BigQuery: ...").
   General, Core, and Other are also allowed as types

2. OS type and version:  Amazon Linux release 2 (Karoo)
3. Java version: corretto 16
4. google-api-client version(s): v1.31.4

[code]

I upgraded the version from 1.31.3 to 1.31.4.
As soon as the upgrade, cpu usage increased rapidly, and

[2021-04-13 17:31] Neenu1995 commented on #1767
Hi,
Can you provide more information regarding what is causing the CPU usage?

[2021-04-14 11:41] junhoi-pk commented on #1767
I simply cannot guess under what circumstances the problem occurred.
However, most of the above libs use the payment confirmation method of the androidpublisher package.

Even when traffic is low at that time,
This method was called about 30 times per hour.

[2021-04-16 08:53] vheneraliuk commented on #967
It may be useful for someone. Found another way to parse large data without base64-decoding:
https://github.com/googleapis/google-api-java-client-services/issues/7717#issuecomment-821024597

[2021-04-28 08:37] mkopylec opened #1777 "GoogleIdTokenVerifier - get the reason why ID token is invalid"
Hi.
Right now the [`GoogleIdTokenVerifier#verify`](https://github.com/googleapis/google-api-java-client/blob/master/google-api-client/src/main/java/com/google/api/client/googleapis/auth/oauth2/GoogleIdTokenVerifier.java#L183) returns `GoogleIdToken` or `null` if the token is invalid.
I need to know the reason why the token is invalid.
It can be implemented by throwing specific exception:
[code]
or

[2021-04-28 19:03] cluesblues commented on #1777
sounds like u got it figured out soon i can get around to it i stay  busy
working on a app that going be best social media app ever

On Wed, Apr 28, 2021, 4:38 AM Mariusz Kopylec ***@***.***>
wrote:

[2021-04-28 19:19] Neenu1995 commented on #1777
The [TokenVerifier](https://github.com/googleapis/google-auth-library-java#verifying-jwt-tokens-beta) in the google-auth-library-java is the more up-to-date implementation. Can you try using the TokenVerifier in the auth library?

[2021-04-28 19:52] mkopylec commented on #1777
It looks like it is what I'm looking for. I'll check it out.

[2021-04-28 23:57] hiranya911 opened #1779 "Several regressions caused by the switch to Gson"
In #1661 this library moved from the old Jackson-based JSON parser to a Gson-based JSON parser. This change seems to be causing some regressions in the downstream codebases like Firebase.

### 1.  JSON-parser leniency

Gson is a lot more lenient in the inputs it accept as valid JSON. As a result the following test case would pass in the older versions of the API client, but fails in more recent ve

[2021-04-29 11:32] elharo commented on #1779
Thanks. These are good bugs. I need to think about where they belong. #3 is I think a GSON bug as you point out. #1 and #2 are possibly bugs in google-http-client, not this product but I'll need to dig deeper.

The Utils class you use here is marked `@Beta` and in hindsight should probably never have been added to this repo. Its behavior and interface is not guaranteed. Eliminating that from your

[2021-04-29 12:29] elharo commented on #1779
#2 is definitely an issue in the http-java-client: https://github.com/googleapis/google-http-java-client/issues/1353

[2021-04-29 12:35] elharo commented on #1779
#1 looks like a deep issue in GSON. Maybe it can be fixed in http-java-client but I'm not sure about that:

https://stackoverflow.com/questions/43233898/how-to-check-if-json-is-valid-in-java-using-gson/47890960#47890960

[2021-04-29 12:35] #1779 closed

[2021-04-29 15:37] #1777 closed

[2021-05-04 16:29] elharo opened #1784 "org.sonatype.oss:oss-parent is deprecated and should be removed"
[code]

[2021-05-04 16:30] elharo commented on #1784
also this caused a CI to flake

[2021-05-04 20:56] #1784 closed

[2021-05-05 12:12] #1755 closed

[2021-05-05 12:13] #1116 closed

[2021-05-05 12:13] #1138 closed

[2021-05-10 23:01] failure-checker[bot] opened #1794 "Warning: a recent release failed"
The following release PRs may have failed:

* #1773

[2021-05-11 18:00] #1794 closed

[2021-05-13 03:21] junhoi-pk commented on #1767
@Neenu1995 Hi

One more guess, I
I am using `https://github.com/firebase/firebase-admin-java`
I know that this library is dependent on `google-api-java-client`.

If I upgrade the `google-api-java-client` version, there is a problem here, so I think the cpu has risen.

My service uses a lot of message push through firebase-admin-java.

Additionally, the same issue occurred when I upgraded the versi

[2021-05-13 09:02] smitamoonka opened #1804 "Response with status code 200 OK but unable to fetch the response data which is JSON format"
While implementing the library, I was trying to invoke single request and I get the response with status code as 200 OK but unable to fetch the response data which is JSON format.  Need support to resolve this. May be I'm missing something..

The transport is ApacheHttpTransport and I'm making simple service GET call which will return a string.

Thanks for the support!

[code]

**UPDATE :**
I adde

[2021-05-14 03:27] Neenu1995 commented on #1804
Hi,

This is not enough information to debug this issue. Can you provide a code snippet?

[2021-05-14 08:43] junhoi-pk commented on #1767
@Neenu1995

As far as I can guess, the parts that have changed between versions are as follows.
`https://github.com/googleapis/google-api-java-client/commit/07346d8dfa955a40daf01b8fb17fe1d75dc2a998`

[code]

here
I guess it's a problem to create with `new` every time like `new BufferedInputStream(response.getContent())`.

Please tell me your opinion :)

[2021-05-18 11:28] smitamoonka commented on #1804
Hello, Here's the code snippet -> I think I understood wrongly :( this API is only to call Google service (request in batch). Am I correct?

Caller client = new Caller.Builder(new ApacheHttpTransport(), new GsonFactory(),
                "www.googleapis.com/batch", "", null, false).setApplicationName("BatchExample/1.0").build
                ();
        batchRequest = client.batch();

        Gene

[2021-05-18 15:49] masquerade75 opened #1810 "Cannot impersonate service account to create calendar events"
Hi. I'm trying to implement user impersonation with a google service account and have been having problems for a while, this is the code I am using in Java:

GoogleCredential credential = GoogleCredential
            .fromStream(TestGoogleCalendarEventCreate.class
                .getResourceAsStream("/ph3-rovigo-313910-6094af96ccfc.json"))
            .createScoped(CalendarScopes.all()).createDel

[2021-05-26 06:35] aneesu401 opened #1821 "SSLHandshakeException occurs during call to authenticate in Google Drive API"
Im using the Google Drive API quick start project which includes google-api-java-client jar library.
When i perform the authentication call in Google Drive i receive SSLHandshakeException.
Few forums says to import the certificate to java trusted certificates as a generic solution for SSLHandshakeException.
But im not sure how to get a certificate. i mean which url is needs to launched in a web br

[2021-06-22 13:14] stevenzhang-support opened #1832 "Connecting to BigQuery using Informatica DEI through enterprise (income.com.ag) physical proxy server."
**Is your feature request related to a problem? Please describe.**
We Encountered proxy certificate validation issue for BigQuery connection from informatica DEI (Data Engineering Integration),as the connection jar at Informatica server/client is not updated with our enterprise ([income.com.sg](url)) proxy certificate.

**Describe the solution you'd like**
Need help from the google-api-java-client

[2021-06-22 23:00] failure-checker[bot] opened #1834 "Warning: a recent release failed"
The following release PRs may have failed:

* #1814

[2021-06-23 00:00] #1834 closed

[2021-06-23 03:00] failure-checker[bot] opened #1835 "Warning: a recent release failed"
The following release PRs may have failed:

* #1814

[2021-06-23 17:00] #1835 closed

[2021-06-23 19:00] failure-checker[bot] opened #1837 "Warning: a recent release failed"
The following release PRs may have failed:

* #1814

[2021-06-26 17:00] #1837 closed

[2021-06-30 09:27] hb0 commented on #995
As far as I understood, this means that it's not possible to "initiate" Resume an interrupted upload as described in the protocol, but just if an existing connection is interrupted?

The client always expects the initial response [to return `200/201`](https://github.com/googleapis/google-api-java-client/blob/a617a1082b9752dd489cbc8c2d50fcee7df7c440/google-api-client/src/main/java/com/google/api/cl

[2021-07-01 20:35] StefanTegeltija opened #1844 "How to disable guava 20"
Hey guys,

I have implemented GmailApi and with it, I got the guava 20 version. Now that version causing a lot of trouble to me so I would like to exclude that version of guava from Gmail API but I don't know-how. I have tried all know solutions from StackOverflow and other sites.

Here is everything described: https://stackoverflow.com/questions/68159011/how-to-disable-gmail-api-guava-20

[2021-07-01 21:22] ma73804596 opened #1845 "ه"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-07-06 13:03] AmritSprinklr opened #1846 "Comments API calls failing in production environments"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-07-07 15:51] Neenu1995 commented on #1846
`java.net.SocketTimeoutException` could mean a connection issue and a bug in the code. It would need more information to debug this issue.
 If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

The youtube team is also providing support over [Stack Overflow](ht

[2021-07-08 12:09] stevenzhang-support commented on #1832
Thanks for update if this is anything that eng team can accept to help with customer's private certificate

[2021-07-15 17:03] stephaniewang526 commented on #1832
Hi,

There is an existing way to specify custom http transport in BigQueryOptions in order to make a call to create newTrustedTransport:
https://github.com/googleapis/google-api-java-client/blob/master/google-api-client/src/main/java/com/google/api/client/googleapis/javanet/GoogleNetHttpTransport.java#L71

Upon searching, I was able to find an example resolution snippet from a similar issue that w

[2021-07-16 07:28] AmritSprinklr commented on #1846
This was already raised on [issuetracker](https://issuetracker.google.com/issues/190082530). which suggested us to raise the issue over github.

[2021-07-18 07:26] #1804 closed

[2021-07-27 16:43] stephaniewang526 commented on #1832
Please re-open this bug or raise new bug in java-bigquery repo if needed.

[2021-07-27 16:43] #1832 closed

[2021-07-30 23:26] cooperjones commented on #1821
We are running into an issue very similar to this. Our java returns the same error. In our case, the issue is that when the code is run on the server, the initial handshake request to the google server does not include the SNI in the request.
This is the Kotlin code we are calling:
[code]

This is the packet response we get when montoring with Wireshark

[code]
`No SNI provided; please fix your cl

[2021-07-31 03:35] quangti opened #1853 "A1"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-08-06 15:48] #1853 closed

[2021-08-12 10:38] letanloc1998 commented on #1076
I have same problem. Does any way to fix it?

[2021-08-12 10:39] letanloc1998 commented on #1076
When I debug
I see `com.google.api.client.googleapis.auth.oauth2.GoogleIdTokenVerifier.Builder.setIssuers(Collection<String> issuers)` can't call parent class

[2021-08-12 10:39] letanloc1998 commented on #1076
`com.google.api.client.googleapis.auth.oauth2.GoogleIdTokenVerifier.Builder.setIssuers(Collection<String> issuers)`

[code]

[2021-08-13 13:35] karatalaya opened #1855 "Add a configuration option for turning on/off strict mode which will error/warn if the provided properties file is not ignored by version control."
Add a configuration option for turning on/off strict mode which will error/warn if the provided properties file is not ignored by version control.

__Originally posted by @arriolac in https://github.com/google/secrets-gradle-plugin/issues/3__

[2021-08-25 05:09] forking-renovate[bot] opened #1861 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency org.apache.maven.plugins:maven-enforcer-plugin to v3.0.0](../pull/1852)
 - [ ] [chore(deps): update dependency com.puppycrawl.tools:checkstyle to v8.45.1](../pull/1734)
 - [ ] [chore(

[2021-09-02 12:08] mikep01 opened #1866 "UserRecoverableAuthIOException, starting application from getIntent() spins in UI"
package com.google.api.client.googleapis.extensions.android.gms.auth
UserRecoverableAuthIOException

Using as per the example in that file:
[code]
Previously this would open a (google supplied?) window that would allow the user to select and authorize their account.  Current behavior on various android versions is that the app opens and shows a spinning/loading icon with no content.

Android, vari

[2021-09-09 15:39] aniketKumar210 opened #1873 "{BotName}"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-09-09 15:41] #1873 closed

[2021-09-09 16:00] aniketKumar210 opened #1874 ""{Botname} is unable to process your request " error while handling card_click event on Google Chat"
#### Environment Details
1. OS type and version: Ubuntu 18.04
2.  Java version: JDK 1.8
3. google-api-client version(s):1.32.1

#### Steps to reproduce

On Sending response to the user:
`{actionResponse=
{type=UPDATE_MESSAGE},
text=botresponse,
thread={name=spaces/gPifRwAAAAE/threads/ITDO-j7EFM8}
}`

even updating type to NEW_MESSAGE or sending card instead of text still result in same error.

![S

[2021-09-09 16:02] aniketKumar210 commented on #1874
Even though the response is delivered to the user still the Error is shown to the user.

[2021-09-22 18:38] hamid441 opened #1878 "sign out API is NOT available in the Google admin directory SDK"
Thanks for stopping by to let us know something could be better!

Please be sure to include as much information as possible:

#### Environment details

: google-api-services-admin-directory_v1-rev118-java-1.25.0

#### Any additional information below

the new sign out API is not available in the current version of the admin directory sdk. here is a link to the API
https://developers.google.com/adm

[2021-09-22 22:49] lesv commented on #1878
The latest version appears to be com.google.apis:google-api-services-admin-directory:directory_v1-rev20210817-1.32.1
https://search.maven.org/artifact/com.google.apis/google-api-services-admin-directory/directory_v1-rev20210817-1.32.1/jar

I find published API's [Directory.Users.SignOut](https://googleapis.dev/java/google-api-services-admin/directory_v1-rev20210817-1.32.1/com/google/api/services/d

[2021-09-23 18:55] hamid441 commented on #1878
thanks @lesv
It seems that 'Directory' package path was changed from com.google.api.services.admin.directory in version 1.25 to com.google.api.services.directory in version 1.3.x. Do you know why the path was changed? this is breaking backward compatibility. we have some legacy code that relies on com.google.api.services.admin.directory. Is there a version that supports com.google.api.services.adm

[2021-09-24 01:02] lesv commented on #1878
Sigh @hamid441 it's difficult to do reverse lookups on our javadocs currently. (That is being fixed).  I'll see if I can find it.

[2021-09-24 08:32] vdiravka opened #1880 "503 The service is currently unavailable. backendError"
[code]

[code]
->

[code]
detailedMessage:
[code]
But looks like one month ago it worked.

[2021-09-24 16:20] lesv commented on #1880
Looking at the [support](https://developers.google.com/authorized-buyers/apis/community) page, it suggests posting in the [forum](https://groups.google.com/g/google-doubleclick-ad-exchange-buyer-api).

You are much more likely to get help at one of those pages.

[2021-09-24 16:20] #1880 closed

[2021-09-24 16:37] lesv commented on #1874
@aniketKumar210 Please look at [How to get help](https://developers.google.com/chat/support) and file this there as they will be better able to help you.

[2021-09-24 16:37] #1874 closed

[2021-09-25 11:25] hamid441 commented on #1878
thanks @lesv
let me know when you have an update on this? as I mentioned `directoy` package path rename is breaking backward compatibility and preventing us from using the newer version of the client that supports signout. if there is no workaround, I will keep the 1.25 version and make a separate API call to the signout endpoint

[2021-09-26 10:16] hamid441 commented on #1878
it would be awesome if the signout API can be added to the 1.25 version in a new rev

[2021-09-27 05:25] aniketKumar210 commented on #1874
sure, thanks

[2021-09-27 19:01] vdiravka commented on #1880
There is a new library for this purpose: `google-api-services-realtimebidding`
Check an example of app with this lib: https://github.com/googleads/authorized-buyers-rtb-api-samples/tree/master/java

[2021-09-27 23:22] lesv commented on #1878
I've been searching maven trying to understand what's happened.  I don't yet have an authoritative answer, but it appears that someone started releasing libraries in a new form starting 07/08/2019, and the older form, which you are using stopped being shipped on 3/19/2020.  I haven't yet found a reason why or a formal announcement.  I'm looking into it.

[code]

[2021-09-29 19:19] lesv commented on #1878
duplicate of google-api-java-client-services#6100

@hamid441 We won't be able to release another 1.25.0 version.  You may find the need to shade one of the libraries.

[2021-09-30 09:55] UweTrottmann opened #1888 "Required google-api-client-android dependency removed since #1703"
#1703 appears to have [removed](https://github.com/googleapis/google-api-java-client/pull/1703/commits/cb25d0dd0b2a8d92f067d9e7fc312448ab72d20b) the required dependency on `google-api-client` and `google-http-client-android` from [`google-api-client-android/pom.xml`](https://github.com/suztomo/google-api-java-client/blob/master/google-api-client-android/pom.xml).

And after a quick look that PR al

[2021-10-04 05:01] skohade1 commented on #1878
Hi @lesv  can we  use HttpClient to use this POST api call ?. I am stuck to authorize that request or can you suggest any other way to implement this api in java any example anyone can provide will be helpful.
Thanks in advance.

[2021-10-06 07:47] ismailsimsek opened #1891 "Failing to use Federated authentication"
Following method failing to read federated authentication file
[GoogleCredential.fromStream](https://github.com/googleapis/google-api-java-client/blob/main/google-api-client/src/main/java/com/google/api/client/googleapis/auth/oauth2/GoogleCredential.java#L228)

used by [DefaultCredentialProvider.getCredentialUsingEnvironmentVariable](https://github.com/googleapis/google-api-java-client/blob/main/g

[2021-10-15 16:48] eaball35 opened #1901 "Code in javadoc comments missing indentation"
Code in javadoc comments missing indentation. Looks like a [formatting change](https://github.com/googleapis/google-api-java-client/pull/1629/files#diff-7dc02fbac9445d550e3b388c64cba64383ac937e2fd46531db24ae0c112f3427L33) removed it.

Example:
- https://cloud.google.com/java/docs/reference/google-api-client/latest/com.google.api.client.googleapis.xml.atom
- https://github.com/googleapis/google-api

[2021-10-25 12:50] beena-yatin-kanyal opened #1906 "NoSuchMethodError: com.google.common.io.ByteStreams.exhaust(Ljava/io/InputStream;)J"
We are using some Google cloud dependencies in our rest-assured project and suddenly they have started to break due to the below error. Can anyone please take a look and advice?

IDE - IntelliJ
Gradle - 7.0

**Error** -

[code]

**Dependencies** -

[code]

[2021-10-25 19:57] #1906 closed, assigned to nobody

[2021-10-26 13:56] medb opened #1908 "GCS: `setRootUrl` override does not apply to PUT requests in resumable uploads"
#### Environment details

1. OS type and version: Debian 10
1. Java version: 8u292
1. google-api-client version(s): 1.39.0

#### Steps to reproduce

  1. Override root URL using `Storage.setRootUrl("...")` method.
  2. Execute resumable upload.

#### Stack trace

[code]

#### External references such as API reference guides

https://cloud.google.com/storage/docs/resumable-uploads

#### Any additio

[2021-10-28 06:08] rvirsingh opened #1910 "Google drive API (v2) Unable to download few files (.xlsx,pdf) with content, "BadRequest""
I am trying to download documents/files store in google drive using google drive API version (V2). though I am able to download files successfully except few non google docs (.xlsx, pdf)  that are failing with Bad request.
I have tried rest API approach
https://developers.google.com/drive/api/v2/reference/files/get
as well as native SDK method:
https://developers.google.com/drive/api/v2/manage-dow

[2021-10-30 04:24] beena-yatin-kanyal opened #1911 "Not able to send message to pub/sub emulator via java/springboot app"
I am using the pub/sub emulator to emulate the pub-sub feature of the google-cloud platform before going live in our spring boot application.

Step[1] - running the emulator -
`gcloud beta emulators pubsub start --project="$PUBSUB_PROJECT_ID" --host-port="$PUBSUB_EMULATOR_HOST"`

-- output --
[code]

Step[2] - creating the topics/subscription on the emulator using the python repo
[code]

-- output

[2021-11-01 18:38] lesv commented on #1908
@frankyn Can you get someone to look at this - apologies it's OSLO.

[2021-11-01 18:41] lesv commented on #1908
Appears to be related to (internal http://b/204369844)

[2021-11-01 18:42] lesv commented on #1908
also (internal http://b/202332963#comment46)

[2021-11-01 19:21] lesv commented on #1911
@beena-yatin-kanyal Are you using the APIary client or the GAPIC client?  They are very different.  At this point, it's best to be using GAPIC and it has full support for the [PubSub emulator](https://cloud.google.com/pubsub/docs/emulator).  https://github.com/GoogleAPIs/java-pubsub

Our [spring boot extensions](https://cloud.google.com/pubsub/docs/spring) support the GAPIC Pub Sub library.

This

[2021-11-01 19:43] lesv commented on #1910
@sqrrrl Perhaps this is for your team?

[2021-11-01 20:29] sqrrrl commented on #1910
Unfortunately we're not equipped to help out at the moment, but there is a pilot program (no SLOs yet) for developer support starting up that might be a good option. Only restriction is it does require a paid Workspace account to file, though unlike enterprise support, it's open to all users in a domain.

https://support.google.com/a/contact/wsdev

[2021-11-01 21:40] lesv commented on #1866
We answer questions about the generated API clients.  Android auth is probably best asked on Stackoverflow

[2021-11-01 21:40] #1866 closed

[2021-11-01 22:01] mikep01 commented on #1866
Wait, this isn't a question, it's a bug.  It looks like there's a problem either with the google "grant permission" cloud service, or a problem with the android library receiving it.
I have no idea to against which component this should be opened, can you direct me or route it appropriately?

[2021-11-01 22:03] mikep01 opened #1913 "UserRecoverableAuthIOException, starting application from getIntent() spins in UI"
Referencing:  UserRecoverableAuthIOException, starting application from getIntent() spins in UI #1866

Wait, this isn't a question, it's a bug.  It looks like there's a problem either with the google "grant permission" cloud service, or a problem with the android library receiving it.
I have no idea to against which component this should be opened, can you direct me or route it appropriately?

...

[2021-11-01 22:25] frankyn commented on #1908
We've been looking at this with the GCS team internally along with @BenWhitehead. The GCS team is working on a fix with the GFE team to correctly respond with custom hostname supplied when creating a resumable upload. Right now the Java client expects the Location header to have the correct URI to send data to: https://github.com/googleapis/google-api-java-client/blob/main/google-api-client/src/ma

[2021-11-01 22:29] lesv commented on #1891
@ismailsimsek Please try opening this in either https://github.com/googleapis/google-oauth-java-client or https://github.com/googleapis/google-auth-library-java

[2021-11-01 22:29] #1891 closed

[2021-11-01 22:36] BenWhitehead commented on #1908
One thing to be very clear about, making this change client side will mean that the client does not properly implement handling of the `Location` header according to HTTP expectations. When a fully qualified Location is provided a client is expected to respect that `Location` without any modification or relative resolution

[2021-11-01 22:37] BenWhitehead commented on #1908
Downgrading to p2 since the backend is investigating the server side fix.

[2021-11-01 22:57] medb commented on #1908
@frankyn agree, it's proper to fix this on backend, but it could be goo to keep this issue open until its fixed on backed for public tracking purposes.

[2021-11-02 03:32] beena-yatin-kanyal commented on #1911
Hello @lesv. I hope your vacation was great.

I am not sure if I understand your answer correctly. we are using the below library to publish/subscribe messages from the real-time GCP pub/sub however the same code breaks (on calling `.get()`) if I am using the pub/sub emulator with the error snippet mentioned above.

[code]

Do you want me to change this to something else? Probably `spring-cloud-gc

[2021-11-02 18:35] lesv commented on #1767
@junhoi-pk I'm going to close this since there hasn't been any action on this for months, if you are still seeking assistance, it's probably better to ask this on StackOverflow and tag it android & firebase to get help.

[2021-11-02 18:35] #1767 closed

[2021-11-03 01:38] lesv commented on #1913
Android questions should be asked on StackOverflow.

[2021-11-03 01:38] #1913 closed

[2021-11-03 14:09] mikep01 commented on #1913
THIS ISN'T A QUESTION IT'S A GOOGLE BUG!!!
I have customers that can't use my product because google as introduced this bug into their cloud platform.  It was working fine for years and has suddenly started misbehaving.
Please help me report this bug to the proper place so that it can be repaired.

[2021-11-03 15:40] Samanthaharmon09 commented on #1697
open task#task

[2021-11-08 23:38] weichungwen opened #2076 "storage: HTTP 416 on GET request of 0 length file"
#### Environment details

  - Programming language: Java
  - OS: Debian 11
  - Language runtime version: OpenJDK 17
  - Package version: google-api-services-storage v1-rev20211018-1.32.1

#### Steps to reproduce

  1. Create an empty file on Cloud Storage
  2. Create a service account and download its JSON key
  3. Decompress the attached [my-app.tar.gz](https://github.com/googleapis/google-api-ja

[2021-11-10 18:59] meltsufin commented on #1910
@rvirsingh Please contact GCP Support. We are closing the issue for now, but feel free to reopen later.

[2021-11-10 18:59] #1910 closed

[2021-11-12 15:02] beena-yatin-kanyal commented on #1911
@lesv - can we please have this reopened or if maybe anyone can help? this is impacting development guidelines?

Note - remove the `.get()` method the message is pushed to the topic (I believe) but not received on the push endpoint.

[2021-11-12 15:57] beena-yatin-kanyal commented on #1911
@lesv much thanks. can you or the google development team take a look at it and suggest why the pub/sub emulator is not able to send the message to the push-endpoint? Looking forward to the help.

[2021-11-14 15:29] karatalaya commented on #1855
]

[2021-11-20 00:26] lglf77 commented on #1381
Meu blogger na api não tem nextPageToken nem nextPage. O que fazer? Só tenho 3 postagens por página.  E 3 páginas ao total do blogger. 9 postagens. O blogger retirou isso para novos blogs?

[2021-11-30 01:40] #1901 closed

[2021-12-06 17:19] karatalaya opened #1930 "https://facebook.com/events/s/wdadwad/431483701850517/ https://t.me/yulyakors"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-12-06 17:52] #1930 closed

[2021-12-06 19:33] clementdenis commented on #1548
More recent Jetty versions (the one currently used by Google App Engine Standard for Java 8) will fail with a slightly different error (415 instead of 501)

`org.eclipse.jetty.http.BadMessageException: 415: Unsupported Content-Encoding
    at org.eclipse.jetty.server.Request.extractContentParameters(Request.java:528)
    at org.eclipse.jetty.server.Request.getParameters(Request.java:435)
    at or

[2021-12-07 19:03] lesv commented on #1571
Is this still a problem for you?

[2021-12-07 19:04] lesv commented on #1571
From the blog post:

August 19, 2020: Revised guidance for Google Cloud client libraries and Apache Beam/Cloud Dataflow

August 12, 2020: Added guidance for Dataproc hadoop connector

July 13, 2020: Enumerate endpoints for JSON-RPC and Global HTTP Batch. Include examples of Non-Global HTTP Batch endpoints for contrast.

July 8, 2020: Limit usage of JSON-RPC and Global HTTP batch endpoints to exist

[2021-12-07 19:06] lesv commented on #1571
It looks like the endpoint was properly turned down.  Please reopen if you disagree.

[2021-12-07 19:06] #1571 closed

[2021-12-08 03:56] idomo1 opened #1932 "Is GoogleCredential.usingOAuth2 still supported?"
Hi,

I'm looking for some guidance on whether using `GoogleCredential.usingOAuth2` is still supported, specifically for authenticating Google API access for an Android client in combination with [`GoogleSignIn`](https://developers.google.com/identity/sign-in/android/sign-in).
`GoogleCredential.usingOAuth2` is using `GoogleAuthUtil.getToken` under the hood, which has been [described as something ap

[2021-12-24 14:27] beena-yatin-kanyal commented on #1911
this can be closed now as I have resolved the issue. thanks. To get the pub/sub working on the emulator set the publisher builder with the mock channel provider and credential provider values. Snippet below -

[code]

In my opinion, pub/sub emulator documentation needs to be updated.

[2021-12-24 14:27] #1911 closed

[2022-01-09 10:23] roma2341 opened #1951 "Calendar.calendarList().list().execute() throws IllegalArgumentException expected collection or array type but got java.util.List"
#### Environment details

1. com.google.api.services.calendar.Calendar.calendarList().list().execute();
2. OS type and version: Ubuntu 18.04
3. Java version: 11
4. google-api-client version(s): 1.30.11

#### Steps to reproduce

  1. I cannot reproduce this bug, it appears unexpectedly and does not disappear until the application is restarted.

#### Code example
 private Calendar getService(GoogleC

[2022-01-12 18:27] mortezaadi commented on #1381
Definitely, it's not a bug, though it needs more clarification, you can refer to this document from Blogger API v3 (here][1].

to get the pagination work you need to call the API with maxResults={pageSize} then you will get an extra value in the response 'nextPageToken', you should use the value of this field and pass it with. 'pageToken' **NOT** 'nextPageToken'

    https://blablabla?maxResults=1

[2022-01-12 18:50] repo-metadata-lint[bot] opened #1956 "Your .repo-metadata.json file has a problem 🤒"
You have a problem with your .repo-metadata.json file:

Result of scan 📈:

* must have required property 'library_type' in .repo-metadata.json
* release_level must be equal to one of the allowed values in .repo-metadata.json

 ☝️ Once you address these problems, you can close this issue.

### Need help?
* [Schema definition](https://github.com/googleapis/repo-automation-bots/blob/main/packages/rep

[2022-01-15 09:00] #1956 closed

[2022-01-16 10:04] karatalaya opened #1958 "brew install --cask time-to-leave"
brew install --cask time-to-leave

__Originally posted by @karatalaya in https://github.com/renovate-bot/amphtml/pull/1#issuecomment-1013845446__

[2022-01-17 18:35] #1958 closed

[2022-01-26 19:07] vpriesner commented on #1779
I'm not sure if I'm having an issue with the mentioned createJsonParser method because the My Business APIs return a different error model or because the GoogleJsonResponseException class has an issue.
Please let me know where I shall file a new ticket for the following issue:

We are using the google-api-services-mybusinessbusinessinformation Java client library that in turn uses the Google API c

[2022-01-28 10:29] ghost opened #1974 "GMB API error model does not match GoogleJsonError model"
The error response model of the GMB APIs ([https://developers.google.com/my-business/ref_overview](https://developers.google.com/my-business/ref_overview)) currently looks like this:

[code]

The subclass [Details](https://github.com/googleapis/google-api-java-client/blob/ef26931d0b3392d7e4354d22d38c1f95fcd9c6a0/google-api-client/src/main/java/com/google/api/client/googleapis/json/GoogleJsonError.

[2022-02-03 10:48] mihalyr opened #1979 "Sheets V4 append with sheet name including "+" broken since google-http-client version 1.34.0"
As reported at https://issuetracker.google.com/issues/217399871

The `sheets.spreadsheets().values().append` operation is failing if the sheet name includes a plus ("+") sign and has a dependency on `google-http-client` version `1.34.0` or older.

The breaking change is likely the result of https://github.com/googleapis/google-http-java-client/pull/913

Library versions:

[code]

Reproducer:

[cod

[2022-02-07 20:33] meredithslota commented on #1181
Please reopen if this is still happening.

[2022-02-07 20:33] #1181 closed

[2022-02-14 16:27] #1908 closed

[2022-02-14 18:53] #1256 closed

[2022-03-02 22:25] EverglowingComet opened #2009 "How to work with firebase sdk"
Hello.
I am building app based on firebase
My app uses firebase sign-in method and database.
I want to add Youtube Event creation feature to my app.
So I need to get Google Account Credential from com.google.api-client:google-api-client-android.
but I am getting duplicated class error with building.
Can you guys help me out to use these both libraries?

    implementation platform('com.google.fire

[2022-03-02 22:28] suztomo commented on #2009
Can you share the error message?

What's the document are you following?

[2022-03-02 22:34] EverglowingComet commented on #2009
Hi @suztomo
Thank you for your reply.

I am following https://developers.google.com/youtube/v3/quickstart/android
Here is error message I get from Build on Android studio.

Duplicate class com.google.common.annotations.Beta found in modules jetified-guava-30.1-android (com.google.guava:guava:30.1-android) and jetified-guava-jdk5-17.0 (com.google.guava:guava-jdk5:17.0)
Duplicate class com.google.co

[2022-03-17 07:31] LindaLawton commented on #1648
Means that you are trying to use a service account but did not declare which user you would like to delegate to. What its trying to do is access the service accounts gmail account, google wont let you do that. This is normally done by using the setServiceAccountUser method.

However if i understand you correctly you are using a standard gmail account. To use service accounts with gmail you need to

[2022-03-22 04:27] jmohammadmirza opened #2015 "Google Indexing API request batch In Java (Working Code which is not deprecated as of now)"
Hi Google,

I am trying to upgrade our java code from  the existing Google Indexing API(Single call) to Batch Request API to reduce the HTTP calls.

I went through [google official](https://googleapis.github.io/google-api-java-client/batching.html)  sample  code which is completely misleading.

I can see an old   [Q and A](https://support.google.com/webmasters/forum/AAAA2Jdx3sUL6yVB7iq1os/?hl=en&g

[2022-03-22 12:23] suztomo commented on #2015
Right, the document may be outdated.

Would you share your code that didn't work?
And error message you observed?

[2022-03-22 14:00] jmohammadmirza commented on #2015
`

public GenericRes<?> postBatchJobToGoogle(List<JobPostingReq> jobPostingBatch) {
		String result = "";
		String serviceAccountEmail = "";
		try {

			HttpTransport httpTransport = GoogleNetHttpTransport.newTrustedTransport();
			String scopes = "https://www.googleapis.com/auth/indexing";
			String endPoint = "https://indexing.googleapis.com/v3/urlNotifications:publish";
			String batchEndpoint=

[2022-03-22 14:07] jmohammadmirza commented on #2015
Code is giving compiler error on` UrlNotification `.

Not sure on how to initialize got using this link
`AbstractGoogleClient client;`

[2022-03-23 08:50] jmohammadmirza commented on #2015
![image](https://user-images.githubusercontent.com/8312219/159659516-27e01330-c10c-4cbd-88cc-2b73c4056e2f.png)
`URLNotification `issue.

regarding the `AbstractGoogleClient `do I have use Books cannot I use some Custom Pojo from my end like `Jobs`

[2022-03-23 14:15] suztomo commented on #2015
Where did you get the code snippet of `UrlNotification`? I didn't find the document you referenced (https://googleapis.github.io/google-api-java-client/batching.html).

No, you cannot use a custom pojo. It has to be a child class of AbstractGoogleClient.

[2022-03-24 06:29] jmohammadmirza commented on #2015
`UrlNotification`  This code I got from [stackoverflow](https://stackoverflow.com/questions/54285181/google-indexing-api-request-batch-in-java)

[code]

[2022-03-24 23:10] lesv commented on #1974
@danielgazineu This is an issue w/ APIary that needs some love.

[2022-03-25 13:57] suztomo commented on #2015
I'm afraid that I cannot help the problem in the code you get from Stackoverflow.

[2022-03-26 00:00] failure-checker[bot] opened #2018 "Warning: a recent release failed"
The following release PRs may have failed:

* #1988

[2022-03-29 19:23] suztomo commented on #1888
@UweTrottmann  I might misrecognize google-api-client-android and google-http-client-android. What problem do you observe due to the missed dependency? I'd like to reinstall the dependency and setup a check/test to prevent it from recurring.

[2022-03-30 07:58] UweTrottmann commented on #1888
I had a deeper look at the `google-api-client-android` sources and it appears the `google-api-client` and `google-http-client-android` dependency are not really needed. So I made a mistake in saying they are "required".

My expectation was that `google-api-client-android` would always have a dependency on `google-api-client` just based on the similar name. But I guess only including what is actual

[2022-03-30 07:58] #1888 closed

[2022-03-30 12:30] suztomo commented on #1888
@UweTrottmann Thank you for the analysis and timely response! Yes, if you're using a class, then it's better to declare the dependency that holds the class (It's called "Used undeclared dependencies" in Maven. [A related Stackoverflow post](https://stackoverflow.com/questions/4565740/what-are-unused-undeclared-dependencies-in-maven-what-to-do-with-them)).

[2022-03-30 13:36] UweTrottmann commented on #1888
Sure! And thanks for the link. My project is using Gradle, but it appears at least [one plugin provides similar functionality](https://github.com/gradle-dependency-analyze/gradle-dependency-analyze).

[2022-04-04 01:30] BadTrasher opened #2027 "What does the file src/main/resources/com/google/api/client/googleapis/google.jks store? Private key or public key? Can user konw the password of the file ?"
Thanks for stopping by to let us know something could be better!

Please be sure to include as much information as possible:

#### Environment details

- OS:
- Java version:
- google-api-java-client version:

#### Steps to reproduce

1. ?
2. ?

#### Stacktrace

[code]

#### External references such as API reference guides used

- ?

#### Any additional information below

Making sure to follow thes

[2022-04-06 10:46] joerayme opened #2030 "Core: ComputeCredential doesn't allow passing scopes"
#### Environment details

1. Specify the API at the beginning of the title. For example, "BigQuery: ...").
   General, Core, and Other are also allowed as types
2. OS type and version: Debian 11
3. Java version: 11
4.  version(s): com.google.api-client/google-api-client:1.33.4, com.google.apis/google-api-services-sheets:v4-rev20210629-1.32.1

#### Steps to reproduce

When using Workload Identity o

[2022-04-07 23:18] blakeli0 commented on #1974
@vpriesner Can you please provide the exact reproducible sequence for us to troubleshoot this issue?

[2022-04-21 08:08] joerayme commented on #2030
@eaball35 I see you added the `docs` label rather than feature request which I assume means there is a way to achieve what I want—are you able to point me at some code in the absence of documentation?

[2022-04-22 21:00] #2018 closed

[2022-05-02 22:03] chingor13 commented on #2027
This stores official Google public keys. It's used to verify that a connection is actually going directly to Google and not being MITM attacked. It's used if you call [`newTrustedTransport()`](https://github.com/googleapis/google-api-java-client/blob/2d25655b94dc1ae93b5c3a97046daf6a35a9923b/google-api-client/src/main/java/com/google/api/client/googleapis/javanet/GoogleNetHttpTransport.java#L71) an

[2022-05-02 22:03] #2027 closed

[2022-05-06 15:38] FerFlovi opened #2060 "The release build has started, the log can be viewed [here](http://sponge/fe846197-7587-4cd5-84a4-1c7fcf94b738). :sunflower:"
The release build has started, the log can be viewed [here](http://sponge/fe846197-7587-4cd5-84a4-1c7fcf94b738). :sunflower:

_Originally posted by @release-tool-publish-reporter[bot] in https://github.com/googleapis/google-api-java-client/issues/2054#issuecomment-1119587686_

[2022-05-06 17:22] Whoknowszz opened #2063 ":egg: You hatched a release! The release build finished successfully! :purple_heart:"
:egg: You hatched a release! The release build finished successfully! :purple_heart:

_Originally posted by @release-tool-publish-reporter[bot] in https://github.com/googleapis/google-api-java-client/issues/2054#issuecomment-1119590198_

[2022-05-06 18:34] #2060 closed

[2022-05-09 19:28] #2063 closed

[2022-05-24 08:44] alexmitic opened #2077 "Auth: Duplicate signature verification check in GoogleIdTokenVerifier"
#### Environment details

1. OS type and version: N/A
2. Java version: N/A
3.  version(s): [google-api-java-client v1.34.1](https://github.com/googleapis/google-api-java-client/releases/tag/v1.34.1) & [google-oauth-java-client v1.33.3](https://github.com/googleapis/google-oauth-java-client/releases/tag/v1.33.3)

#### Steps to reproduce

The latest release of `google-oauth-java-client` added a [sig

[2022-05-25 16:59] BenWhitehead commented on #2076
"internal"note: This is not unique to Storage, it applies to the api client which in turn is used by all apiary generated clients.

[2022-05-26 22:32] TimurSadykov commented on #2077
This is going to be fixed along with the https://github.com/googleapis/google-oauth-java-client/issues/891

[2022-06-02 21:16] #2077 closed

[2022-06-09 14:09] Neenu1995 commented on #1932
@TimurSadykov Friendly Ping.

[2022-06-14 11:19] mmatloka opened #2094 "Auth: GoogleIdTokenVerifier fails to validate token from Identity Platform"
#### Environment details

1. Identity Platform
2. OS type and version:
3. Java version: 17
4.  version(s): 1.35.1

#### Steps to reproduce

Hello,
https://cloud.google.com/identity-platform/docs/reference/rest says that "we recommend that you use the Google-provided client libraries.", so I'm tring to leverage `GoogleIdTokenVerifier` to verify accessToken generated when using `Identity Platform`.

[2022-06-18 00:43] Capstan opened #2095 "Auth: Consider catching IllegalArgumentException in GoogleCredential.fromStream"
https://github.com/googleapis/google-api-java-client/blob/main/google-api-client/src/main/java/com/google/api/client/googleapis/auth/oauth2/GoogleCredential.java#L231

In #1661, `Utils.getDefaultJsonFactory()` was changed to use the `GsonFactory`. `Gson`, in part because of an underspecification of thrown exceptions https://github.com/googleapis/google-http-java-client/issues/1353, will throw `Ill

[2022-06-21 21:12] meltsufin commented on #2094
@TimurSadykov Is this something you're familiar with? I see that you modified `GoogleIdTokenVerifier` recently.

[2022-06-21 21:30] TimurSadykov commented on #2094
@meltsufin Yes, I'm familiar. We need to add IdentityPlatform public keys to our default storage or add another storage with those keys present. If that is not something we can do quickly - at least reference a public source of the keys or keys themselves to mitigate temporarily.

[2022-07-14 02:17] TimurSadykov commented on #1932
@idomo1 Sorry for some delay.
I think you can continue using access token to access Google APIs directly.

The bad practice is effectively about backends. If they receive accessToken - there is no easy way to verify if they are not compromised. Therefore idtokens are recommended instead.

[2022-07-14 18:43] TimurSadykov commented on #1932
closing for now, feel free to reopen if more questions

[2022-07-15 13:52] joerayme commented on #2030
I finally figured out a solution to this! For anyone else wondering, you can edit the token server URL on the `ComputeCredential` object to include the scopes, like this:

[code]

[2022-07-29 03:22] Setland34 opened #2120 "GoogleOne1"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-07-29 22:05] #2120 closed

[2022-08-12 07:51] Apochens opened #2125 "Which API can be used to fetch the apk size data?"
I want to use the Google API to get **the apk size data**, but it seems that the **Google Play Developer API** and the **Google Play Developer Reporting API** both cannot reach that data. So which API can I use to get that data?

[2022-08-16 11:38] tomlux opened #2130 "Java PeopleAPI updateContactPhoto: not updating the photo"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-08-17 05:24] tomlux commented on #2130
I missed to call the method "execute()" !!
Not it's working :-)

UpdateContactPhotoResponse updateContactPhoto = peopleService.people().updateContactPhoto(resourceName
                         , new UpdateContactPhotoRequest().encodePhotoBytes(photo)).execute();

[2022-08-17 05:24] #2130 closed

[2022-08-20 13:54] olegkdev opened #2132 "Gmail API Cyrillic Support"
I'm working with the example SendMessageWithAttachment.java. It works fine with English email body. However Cyrillic letters (Ukrainian) work only in the email's title and attachments file names. Body text was not recognized in Cyrillic.
Example without attachments and without MIME works good with Cyrillic text.
So, is there any way to send non-English letters with Gmail API with attachments and M

[2022-08-22 14:57] lqiu96 commented on #2132
Do you have a screenshot of the differences you're seeing? I'm a bit confused by `body text not recognized in Cyrillic`.

I'll pull down the examples when I get a chance.

[2022-08-24 07:25] olegkdev commented on #2132
Screenshots https://github.com/JavaCodeSamples/TestGmailAPI/tree/main/docs

Code https://github.com/JavaCodeSamples/TestGmailAPI/blob/main/src/main/java/org/example/GmailQuickstart.java

[2022-08-26 04:01] lqiu96 commented on #2132
Apologies for the delay. Can you try with `mimeBodyPart.setContent(bodyText, "text/plain;charset=utf-8");`?

I've tried locally and it seems to recognize Cyrillic in the body.

From: https://www.rfc-editor.org/rfc/rfc2046

[2022-08-26 13:40] olegkdev commented on #2132
Yes, this works with Cyrillic `mimeBodyPart.setContent(bodyText, "text/plain;charset=utf-8");` Thank you for help and explanation

[2022-08-26 13:40] #2132 closed

[2022-09-01 06:25] prash-mi opened #2135 "java.net.SocketTimeoutException with java-bigquery client library"
We recently encountered `java.net.SocketTimeoutException` with java-bigquery after we increased the server side timeout for one of the BigQuery REST services.  This causes the server delay the response for long running queries (basically it waits and polls on the server side, but from the client API point of view we may not get the HTTP response for the mentioned amount of time, which we defines a

[2022-09-07 16:14] diego92sigma6 commented on #2135
Socket timeout was increased to 10s in [PR 2260 (merged)](https://github.com/googleapis/java-bigquery/pull/2260). Closing as solved.

[2022-09-07 16:14] #2135 closed

[2022-09-13 17:37] waterdrake opened #2137 "AbstractGoogleClientRequest and GoogleClientRequestInitializer class not found in com.google.api-client:google-api-client-android:2.0.0"
My Android app with Cloud Endpoints says these classes do not exist

[code]

when using any version higher than 1.31.0 of the following import

`implementation 'com.google.api-client:google-api-client-android:1.31.0'

`The latest version is [2.0.0](https://mvnrepository.com/artifact/com.google.api-client/google-api-client-android) but even 1.32.1 has the issue. Anything that is 1.31.0 or lower wor

[2022-09-14 20:06] ikozl opened #2139 "API cloud-identity.devices.readonly error 403: "The caller does not have permission""
The access token then doesn't seem to have the require scope/permissions and a call to https://cloudidentity.googleapis.com/v1/devices results in a 403 forbidden
{
    "error": {
        "code": 403,
        "message": "The caller does not have permission",
        "status": "PERMISSION_DENIED"
    }
}
Required one of the following OAuth scopes, seems to be not enough:
https://www.googleapis.com/a

[2022-09-15 14:12] lqiu96 commented on #2139
Could you give me some more context as to you're trying to do/ how you're getting this error? Do you have a link to a code sample, tutorial, or repo that I could follow and try to reproduce this error? Thanks!

[2022-09-15 14:23] lqiu96 commented on #2137
Taking a look. Can you also send me your build.gradle? I'd like to see what versions you're importing to see if there is some version incompatibility. I see the samples repo is old and archived, so I'm going to guess you've made modifications to it to try and make it work.

[2022-09-16 03:38] waterdrake commented on #2137
Here are the pertinent imports in the working build.gradle:
[code]

[2022-09-16 11:47] ikozl commented on #2139
I try to call using:
`
function getTestCall(){

const testCall = {
  url: 'https://cloudidentity.googleapis.com/v1/devices',
  method : "GET"
}

try {
      var response = UrlFetchApp.fetch(testCall.url, {
        method: testCall.method,
        muteHttpExceptions: true,
        contentType: "application/json",
        headers: {
          Authorization: "Bearer " + getAccessToken()
        }

[2022-09-16 16:03] lqiu96 commented on #2137
Ah, thanks for getting back with the `build.gradle` file! I do see the issue and it seems to have evolved from v1.31.2 -> v1.31.3.

Looks like the required dependency was removed in the version bump, which is why you can't import it in a later version after v1.31.2:
[code]
From this change: https://github.com/googleapis/google-api-java-client/pull/1703 -- which looks like to decouple the dependenc

[2022-09-16 16:30] lqiu96 commented on #2139
I'm going to have to guess something may be wrong with your accessToken (not pulling in the correct scopes that you have access to). I'm not sure how you're getting the token/ I don't see how `getAccessToken()` is implemented.

Are you using either of these libraries to facilitate getting the token or making the call?
https://github.com/googleapis/google-auth-library-nodejs or https://github.com/g

[2022-09-16 17:05] suztomo commented on #2137
I think I removed the googlr-api-client module from there because it wasn't needed; otherwise the compilation would fail.

Please declare the dependency that contains the class when you use the class.

[2022-09-18 22:38] waterdrake commented on #2137
@lqiu96 I tried adding the dependency you recommended like this:

[code]

The app compiles. However, when I actually run it and launch the android app I get this error:

This is a weird error because the version is already 2.0.0 as you can see above.

[2022-09-19 14:09] lqiu96 commented on #2137
Personally, I agree. I would think that declaring `google-api-client-android` would have the functionality of `google-api-client`. From the linked PR above, there were some changes that have been made to help with past issues, so for now you'll have to explicitly declare both. This may be something that we could revisit in the future.

at com.google.common.base.Preconditions.checkState(Preconditio

[2022-09-20 19:12] meltsufin commented on #2009
Obsolete.

[2022-09-20 19:12] #2009 closed

[2022-09-22 13:46] lqiu96 commented on #2137
If you mean to also downgrade the `-android` dependency to v1.35, you can if you want to keep both `google-api-client` and `google-api-client-android` versions in sync. iirc, there are no functionality differences between v1.35+ and v2 so having `-android` as v2+ *should* be fine.

When we get some time, we'll take a look to include v2+ versions into the preconditions so it no longer fails for the

[2022-09-23 03:43] waterdrake commented on #2137
@lqiu96 I see. Well, I think what I will do is just keep using `'com.google.api-client:google-api-client-android:1.31.0'` alone. I don't really need to upgrade it for any features (that I know off). I will keep an eye on a new update to a new `google-api-client-android` v2+ that will work on it's own, or it may get confusing in my dependencies why I have two of a similar library.

Thank you for yo

[2022-09-23 20:32] lqiu96 commented on #2137
No problem. Let me know if you do come across any more inconsistencies or issues regarding endpoint and `google-api-client` integration. I'll take a look into generated preconditions when I get a chance.

[2022-09-24 19:08] waterdrake commented on #2137
@lqiu96 Thank you. This is another issue regarding endpoints and gradle build tools I have. But they are probably not related: https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/issues/110

[2022-10-01 14:49] Vic23M opened #2154 "X"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

[2022-10-07 04:00] ashishtrnrytchl opened #2157 "SMTP is not working with one of the Google Account"
We have a Java SMTP client app that is using Gmail server to send emails. We used a particular Gmail account, support@xyz.com, to send emails. The app was working fine till we made some changes in DNS ( added DMARC record). Then we started getting Authenticiationfailed exception. Removed DMARC record but the issue is still there.

Then we tried with another account belonging to the same domain (in

[2022-10-08 12:33] tusharaina opened #2159 "Initializing Google Drive API using builder giving Exception"
#### Environment details

1. Specify the API at the beginning of the title. For example, "BigQuery: ...").
   General, Core, and Other are also allowed as types
2. OS type and version: Android OS 10/11/12/13
3. Java version: depending on Android devices
4. Version(s): com.google.api-client:google-api-client:1.31.1

#### Steps to reproduce
It is not reproducible at our end and getting reported on f

[2022-10-14 14:39] #2154 closed

[2022-10-17 21:09] diegomarquezp commented on #2159
Hello.
Could you please provide the Drive library version you are using?
Also, if you have premium support, please contact Support for a faster response time.
Thanks!

[2022-10-25 18:01] lqiu96 commented on #2157
Are you still facing this error? If so, could you give us some more details regarding both the error messages (a stack trace or screenshot) and setup? It sounds like you're using the Gmail Apiary library to send emails. I'm not too familiar with DMARC, so I'll need to do some digging there.

[2022-10-25 18:32] lqiu96 commented on #2159
@tusharaina Hi, are you still seeing this error? Do you have a sample repo for us to try and reproduce?

[2022-11-11 12:14] tusharaina commented on #2159
@diegomarquezp drive version which we are using is `com.google.apis:google-api-services-drive:v3-rev20191108-1.30.3`

[2022-11-26 21:44] Vitthub opened #2192 "SQLAdmin sqladmin = new SQLAdmin.Builder(httpTransport, JSON_FACTORY, credential).build();"

[2022-11-28 10:50] Vitthub opened #2193 "Master card"
I'm sharing my Master card card with you.

Visit this link to load it to your phone:
https://cdn.cards.app/other/Load.html?Type=Share&Token=e203f8af6b2b40a9a65460b2d9ecefd3

[2022-11-29 15:56] #1844 closed